<template>
     <div class="flex-column d-flex yone-page  ">
        <div class=" d-flex mx-2 shadow mt-2 mb-auto yone-page-header rounded   ">
            <button class="btn " v-show="true"><font-awesome-icon icon="fa-arrow-circle-left"></font-awesome-icon></button>
            <img src="/logo-1.png" height="50" alt="" >
            <!-- <router-link to="/admin-egine">Go to Admin</router-link> -->
        </div>
       <template  v-if="number_com">
        <div class="flex-grow-1 mt-2 flex-column yone-page-body "  >
            <div class="card" :key="i" v-for="item,i in menu">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <p class="card-text">{{item.data_name}}</p>
                    <button class="btn btn-primary" @click="loadData(item)">
                        <font-awesome-icon icon="fa-arrow-right"></font-awesome-icon>
                    </button>
                </div>
            </div>

        </div>
        </template>
        <template  v-else-if="!number_com" >
        <div class="flex-grow-1 mt-2 flex-column yone-page-body " >
            <div class="text-center bg-white rounded shadow p-2">
               <p> Post Message "!dss" </p>
                <br>
                <a :href="'https://wa.me/6287771079782?text='+encodeURI('!dss')" class="btn btn-success btn sm">Click Me</a>
            </div>
        </div>
       </template>
        <div v-if="data.key" class="yone-modal flex-column d-flex  justify-content-end">
            <div class="flex-grow-1 yone-modal-content  shadow bg-white rounded">
                <div class=" border-bottom border-dark p-2">
                    <div class="btn-group rounded-0">
                    <button class="btn btn-danger  btn-sm" @click="closeModal()">x</button>
                    <button class="btn btn-primary btn-sm" disabled>{{data.data_name}}</button>
                </div>
                </div>


                <listsub :key="i" v-for="item,i in data.menu" :item="item"></listsub>
            </div>
        </div>

    </div>
  </template>

  <style scoped>
    .yone-modal{
        position:fixed;
        bottom:0;
        height: 100vh;
        width:100vw;
    }
    .yone-modal .yone-modal-content{
        max-height:80vh;
    }
    .yone-page{
        max-height:100vh;
        height:100vh;

        padding: 0;
        margin:0
    }
    .yone-page-body{
        overflow-y: scroll;


    }
  </style>

<script>
  import { RouterLink, RouterView } from 'vue-router'

    export default{
        props:{

        },
        methods:{
            loadData:function(item,index){
                this.index_load=index;
                this.data.data_name=item.data_name;
                this.data.menu=item.sub;
                this.data.key=item.key;
            },
            closeModal(){
                this.data.key=null;
            }
        },
        data:()=>{
            return {
                data:{
                    index:-1,
                    data_name:'',
                    key:'',
                    menu:[]
                },
                menu:[
                   {
                    data_name:'RKPD',
                    key:'RKPD',
                    type:'list_sub',
                    open:false,
                    sub:[
                        {
                            data_name:'NASIONAL',
                            key:'nas',
                            type:'list_sub',
                             open:false,
                            sub:[
                                {
                                    data_name:'URUSAN PU',
                                    type:'get_rekap',
                                    open:false,
                                    data:{
                                        kodeurusan:'1.03'
                                    }
                                },

                                // {
                                //     data_name:'URUSAN PERKIM',
                                //     type:'get_rekap',
                                //     open:false,
                                //     data:{
                                //         kodeurusan:'1.02'
                                //     }
                                // }
                            ]
                        },
                        {
                            data_name:'PER PEMDA',
                            type:'list_sub',
                            open:false,
                            sub:[
                                {
                                    data_name:'PERURUSAN',
                                    type:'list_sub',
                                    open:false,
                                    sub:[

                                            {
                                                data_name:'URUSAN PU',
                                                type:'list_sub',
                                                open:false,
                                                data:{
                                                    kodeurusan:'1.03'
                                                },
                                                sub:[

                                                {
                                                    data_name:'KAB SUKABUMI',
                                                    type:'get_rekap',
                                                    open:false,
                                                    data:{
                                                        kodeurusan:'1.03',
                                                        kodepemda:'3202',

                                                    },
                                                    sub:[]
                                                }
                                                ]
                                            },

                                    ]
                                },
                                {
                                    data_name:'KAB SUKABUMI',
                                    type:'get_rekap',
                                    open:false,
                                    data:{
                                        kodeurusan:'1',
                                        kodepemda:'3202',

                                    },
                                    sub:[]
                                }
                            ]
                        }
                    ]
                   }
                ],


            }
        },
        mounted(){

        },
        computed:{
            number_com:function(){
               return (!window.localStorage.yoneMB_phone.includes('null')?(window.localStorage.yoneMB_phone.length>10?window.localStorage.yoneMB_phone.length:null):null)||null;
            }
        }
    }
</script>
