<template>

<div class="container py-2">
  <!-- As a heading -->
  <div class="row mb-3">
        <div role="button"  @click="loadEgineLoad(item)" v-for="item,i in egine" :key="i" class=" card col-4 bg-white rounded shadow p-3">
            <img class="card-img-top" src="/logo.png" alt="Card image cap">
            <h3 class="text-uppercase text-center">{{item.egine_type}}</h3>
            <hr>
            <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <span class="badge badge-success" v-if="item.isRunning" >Server Running</span>
        <span class="badge badge-danger" v-if="!item.isRunning" >Server Stoped</span>
        </div>
        

    </div>
  </div>
  <div class="row" >
    <div class="text-center" v-if="focusEgine.isLoading && focusEgine.meta.id">
        Loding .....
    </div>
    <div class="col-12 p-3 bg-white shadow rounded" v-else-if="focusEgine.meta.id">
        <p>
            <span class="badge badge-success" v-if="focusEgine.state.status">Egine Ready</span>
            <span class="badge badge-warning" v-else-if="!focusEgine.state.status">Egine Busy / Stoped</span>

        </p>
        <div v-if="!focusEgine.state.status">
            <pulser :loading="true" :color="'red'" ></pulser>
        </div>
        <div class="text-center " v-if="focusEgine.state.auth.qr_data && focusEgine.state.auth.logined==false">
            <qrcode-vue  :value="focusEgine.state.auth.qr_data" :size="300"></qrcode-vue>
            
            <p><small>Scan to Login </small></p>
        </div>
        <div v-if="focusEgine.state.auth.logined && focusEgine.state.auth.client.me.user">
            <p class="mb-0 text-capitalize"><b>{{focusEgine.state.auth.client.pushname}}</b></p>

            <h5>{{focusEgine.state.auth.client.me.user}}</h5>
            <button @click="logoutApp(focusEgine.meta)" class="btn btn-warning btn-sm">Logout</button>

        </div>
        <hr class=" mb-2">
        <div class="card bg-dark text-white mx-3 mt-2" v-if="focusEgine.state.message.from && counter_message>0">
                <div class="card-header">{{focusEgine.state.message.type}} ({{counter_message}}s)</div>
            <div class="card-body">
                <h5 class="card-title">{{focusEgine.state.message.from}}</h5>
                <p class="card-text" v-html="focusEgine.state.message.body"></p>
            </div>

           
        </div>
        
    </div>
  </div>
</div>
   
</template>

<script>
    import { mapActions } from 'vuex';
    export default{
        props:{

        },
        data:function(){
            return {
                counter_message:0,
                loading:true,
                message:'Welcome',
                error:false,
                egine:[],
                focusEgine:{
                    meta:{
                        egine_type:null,
                        id:null,
                        name:null,
                        isRunning:false,
                        status:false
                    },
                    isLoading:true,
                    state:{
                        state:null,
                        status:false,
                        auth:{
                            logined:false,
                            qr_data:null,
                            client:{
                                pushname: null,
                                wid: {
                                    server: null,
                                    user: null,
                                     _serialized: null
                                },
                                me: {
                                    server: null,
                                    user: null,
                                    _serialized: null
                                },
                                phone: null,
                                platform: null
                            }
                        },
                        message:{

                        }
                    }
                }
            }
        },  
        methods:{
            logoutApp:function(item){
                this.$socket.emit("egine_logout",{
                    id:item.id
                }); 
            },
            loadEgineLoad:function(item){
                var x=JSON.parse(JSON.stringify(item));
                this.focusEgine.isLoading=true;

                this.focusEgine.meta.id=x.id;
                this.focusEgine.meta.name=x.name;
                this.focusEgine.meta.isRunning=x.isRunning;
                this.focusEgine.meta.status=x.status;
                this.focusEgine.meta.egine_type=x.egine_type;
              
               this.getState();
            },
            ...mapActions(["initialLoad"]),
            getState:function(){
                var self=this;
                this.$socket.emit('egine_state',{
                    id:this.focusEgine.meta.id
                },function(res){
                    if(res!=null){
                        self.focusEgine.isLoading=false;
                        console.log(self.focusEgine.isLoading,'ss');
                        Object.assign(self.focusEgine.state,res);

                    }
                })
            },
            getAllEgine:function(){
                var self=this;
                this.$socket.emit('list_egine',{d:'all'},function(res){
                    self.egine=res;
                });
            }
        },
        watch:{
            "focusEgine.state.message":function(val){
                this.counter_message=30;
            },  
            "focusEgine.meta":{
                deep:true,
                handler:function(old,val){
                    if(old.id && (old.id!=val.id)){
                        var x=this.sockets.unsubscribe(old.id);
                        console.log('remove old listener',x);
                    }
                    var self=this;
                    this.sockets.subscribe(val.id,(res)=>{
                        console.log('get state',res);
                       if(res){
                        console.log('get state update',res);
                        self.focusEgine.isLoading=false;
                        self.focusEgine.state=res;
                       }
                    });
                }
            }
        },
        mounted(){
           try{
            this.initialLoad(this);
            this.loading=false; 
            this.getAllEgine();
            var self=this;
            setInterval((ref)=>{
                ref.counter_message-=1;
            },1000,self);

           }catch(e){
            console.log(e);
            this.loading=false;
            this.error=true;


           }
        }

    }
</script>