<template>
    <div class="">
       <template v-if="item.type=='list_sub'">
        <button class="btn shadow col-12" @click="toogleOpen" >
            {{item.data_name}}
        </button>
       </template>
       <template v-else-if="item.type=='get_rekap'">
        <button class="btn btn-success shadow col-12" @click="getRekap(item)" >
            {{item.data_name}}
        </button>
       </template>
        <hr>
        <div class="ml-3 mt-2" v-if="item.open">
            <listsub :key="i" v-for="sub,i in item.sub" :item="sub"></listsub>
        </div>
    </div>
</template>

<script>
import VueSimpleAlert from "vue3-simple-alert";

    export default{
        props:{
            item:{
                default:()=>{
                    return {
                        data_name:'',
                        type:'',
                        data:{},
                        sub:[]
                    }
                }
            }
        },methods:{
            getRekap:function(item){
                var data=item.data
                data['envNumber']=this.number_com;
                data.tahun=2022;
                var self=this;
                this.axios.post('https://sock.sinkronisasi.id/api/get-rekap/rkpd_egine',data).then(res=>{
                    alert("Data "+self.item.data_name+' Akan Segera Dikirim!');
                });
            },
            toogleOpen:function(){
                if(this.item.open){
                    this.item.open=false;

                }else{
                    this.item.open=true;
                }
            }
        },
        computed:{
            number_com:function(){
               return window.localStorage.yoneMB_phone;
            }
        }
    }
</script>
