<template>
    <div >

    </div>
</template>

<script>
    export default{
        props:{

        },
        data:function(){
            return {
                "a":"s"
            }
        }
    }
</script>