<template>
  <div>
      <button class="btn btn-warning" v-if="enabled_edited()" @click="showModal"><i class="fa fa-pen"></i></button>
      <div ref="modal_edit_com" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div :key="i"  v-for="item,i in (schema['entity']||[])">
                        <div v-if="item[0]!=null" class="form-group text-dark">
                            <template v-if="item[0]=='input-text'">
                                <label for="">{{item[2]}}</label>
                                <input type="text" class="form-control" v-model="data[i]" >
                            </template>
                             <template v-if="item[0]=='select'">
                                <label for="">{{item[2]}}</label>
                                <select type="text" class="form-control" v-model="data[i]" >
                                    <option :key="op" :value="op" v-for="op in item[3]">{{op}}</option>
                                </select>
                            </template>
                            <template v-else-if="item[0]=='input-markdown'">
                                <label for="">{{item[2]}}</label>
                                <template>    
                                <ckeditor v-model.lazy="com[i]" v-on="bindHtml(com[i],i)"  :editor="ck.editor"  ></ckeditor>
                                </template>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script >
 import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

export default {
    props:{
        com:Array,
        indexCom:Number
    },
    created:function(){
        if(this.com[0]=='COMDATA'){
            this.schema=app.component_builder_dash_pemda_list[this.com[3]];
        }else  if(this.com[0]=='COMDATASINGLE'){
            this.schema=app.component_builder_dash_pemda_list[this.com[3]];
        }else{
            this.schema=app.component_builder_dash_pemda_list[this.com[0]];
            
        }
        console.log('schema',this.schema);

    },
    mounted:function(){
        this.data=this.com;
         if(this.com[0]=='COMDATA'){
            this.schema=app.component_builder_dash_pemda_list[this.com[3]];
        }else if(this.com[0]=='COMDATASINGLE'){
            this.schema=app.component_builder_dash_pemda_list[this.com[3]];
        }else{
            this.schema=app.component_builder_dash_pemda_list[this.com[0]];
            
        }
        console.log('schema',this.schema);
    },
    data:function(){
        return {
            ck:{
                editor: ClassicEditor,
                 config: {
                    toolbar: [
                    ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript']
                    ],
                    height: 300
                },

            },
           
            data:this.com,
            schema:{}
        }
    },
    watch:{
        data:function(val){
            this.$emit('emit-edit',val,this.indexCom);
            
        },
        
    },
    methods:{
        bindHtml:function(val,index){
            this.com[index]=(val||'').replaceAll('<table>','<table class="table table-bordered">');
            this.$emit('emit-edit',this.com,this.indexCom);


        },
        enabled_edited:function(){
            return this.schema.entity.filter(el=>{
                return el[0]!=null;
            }).length!=0;
        },
        showModal:function(){
            $(this.$refs.modal_edit_com).modal();
        }
    }
}
</script>
