<template>
<div class=" p-2 d-flex flex-column">
     <nav class="navbar navbar-light bg-primary mb-2 " v-if="editable">
                <a class="navbar-brand" href="#"> <small> {{schema.title}}</small></a>
                <ul class="nav">
                    <li class="nav-item" v-if="comParent!='COL'">
                        <a class="nav-link text-white" href="#" @click="removeCom()">Hapus</a>
                    </li>
                </ul>
        </nav>  
        <div :class="'small-box mb-0 bg-'+com[4]">
        <div class="inner">
        <h3><sup style="font-size: 20px">{{data.satuan_posisi=='prefix'?data.satuan:' '}} {{com_val}} {{data.satuan_posisi!='prefix'?data.satuan:' '}}</sup></h3>
        <p class="mb-0" v-html="data.title"></p>
        <small v-html="data.subtitle"></small>
        </div>
        <div class="icon">
        <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
</div>

</template>    

<script>
export default{
    props:{
        url_schema:{
            type:String,
            default:''
        },
        com:Array,
        def_tahun:Number,
        filterParent:{
            type:Object,
            default:function(){
                return {
                    filter_regional:null,
                    filter_status:null,
                    filter_tipe_bantuan:null,
                    filter_kodepemdas:null
                }
            }
        },
        indexCom:Number,
        editable:Boolean,
        comParent:String

    },
    computed:{
        com_val:function(){
            if(typeof this.data.val!='string'){
                return NumberFormat(this.data.val);
            }else{
                return this.data.val;
            }
        }
    },
    data:function(){
        return {
            schema:{
                title:''
            },
            chart_varian:[],
            tahun:this.def_tahun||2019,
            data:{
                title:'',
                val:0,
                satuan:'',
                subtitle:'',
                satuan_posisi:''
            },
            table:{
                column:[],
                data:[]
            },
            filter:{
                filter_regional:null,
                filter_status:null,
                filter_tipe_bantuan:null,
                title:this.com[2],
                kodepemda:null,
                filter_kodepemdas:null

            }
        }
    },
    watch:{
       
        
        "filter":{
            deep:true,
            handler:function(val,old){
                this.loadData();
            }
        },
         "filterParent":{
            deep:true,
            handler:function(val,old){
                this.changeFilter();
                this.loadData();

            }
        },   
        com:function(){
            this.$forceUpdate();

        }       
    },
    created:function(){
        this.schema=app.component_builder_dash_pemda_list[this.com[3]]

        this.changeFilter();
        this.loadData();



    },
      mounted:function(){
        this.schema=app.component_builder_dash_pemda_list[this.com[3]]
        // setTimeout(function(ref){
        //     //    if(ref.$refs.chart_egine.$refs['chart']!=undefined){
        //         // ref.$refs.chart_egine.$refs.chart.reflow();
        // }
        // },500,this);
        // this.loadData();

    },
    methods:{
        changeFilter:function(){
            var val=this.filterParent;
                this.filter.filter_regional=val.filter_regional;
                this.filter.filter_status=val.filter_status;
                this.filter.filter_lokus=val.filter_lokus;
                this.filter.filter_tipe_bantuan=val.filter_tipe_bantuan;
                if(val.filter_kodepemdas){
                 this.filter.filter_kodepemdas=val.filter_kodepemdas;
                }
        },
        removeCom:function(){
            this.$emit('remove-com',this.indexCom);
        },
        loadData:function(){
            var self=this;
            self.data.val=0;
            self.data.satuan='';
            self.data.title='';
            self.data.subtitle='';
            self.data.satuan_posisi='';


            

            req_ajax.post(this.url_schema.replace('@TAHUN',this.tahun).replace('@CONTEXT',this.com[3]),this.filter).then(res=>{
                    Object.assign(self.data,res.data.data);
            }).finally(function(){
                self.$forceUpdate();
               
                
            });
        }
    }
}
</script>
<style scoped>

</style>