<template>
      <div>
          <button class="btn btn-primary" @click="showList"> <i class="fa fa-plus"></i> Add Component </button>

    <div class="">
        <div :class=" 'bg-white rounded shadow flex-column '+(show)" style="width:0; bottom:0; height: calc(100vh - 50px); z-index:999; position:fixed; height:0; right:0;">
             <div style="position:absolute; top:0; width:100%;">
                <nav class="navbar navbar-dark bg-dark ">
                    <a class="navbar-brand" href="#"> <small><i class="fa fa-times" @click="show='hide-com-list';"></i> List Component</small></a>
                </nav>  
                <div class="form-group p-2 ">
                    <input type="text" class="form-control" placeholder="Cari Komponent" v-model="search">
                    <hr>
                </div>
            </div>
             <ul style="margin-top:120px; height:calc(100vh - 170px)" class="list-group text-left scrl-y " >
                    <li role="button" class="list-group-item list-com-hover" @click="addCom(item[1].entity)" :key="item[0]" v-for="item in com_list">
                        <p><b>{{item[1].title}}</b></p>
                        <small v-html="item[1].des"></small>
                </li>
            </ul>
        </div>

    </div>
      </div>
</template>
<style scoped>
    .display-com-list{
        
         -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
         -webkit-animation-name: fadeInLeft;
         animation-name: fadeInLeft;

    }
    
    .scrl-y{
        overflow: hidden;
        overflow-y:scroll;
    }
    .hide-com-list{
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
         -webkit-animation-name: fadeOutLeft;
         animation-name: fadeOutLeft;


        
    }
    .list-com-hover:hover{
        background-color:#e4e2e2;
    }
    

    @keyframes fadeInLeft {
        0% {
            transform: translateX(60vh);
            height: calc(100vh - 50px);
            width:30vw;

        }
        100% {
            transform: translateX(0);
            width:30vw;
            height: calc(100vh - 50px);


            
        }
    }

    @keyframes fadeOutLeft {
        0% {
            width:30vw;
            height: calc(100vh - 50px);
            transform: translateX(0);
        }
        100% {
            transform: translateX(100vh);
            width:30vw;
            height: calc(100vh - 50px)


        }
    }
   
 
</style>
<script>

export default {
    props:{
     
        componentList:{
            type:Object,
            default:function(){
                return undefined;
            }
        },

    },
    emit:['add-com'],
    data:function(){
        return {
            show:'',
            search:'',
            list_com:this.componentList||window.component_builder_dash_pemda_list||app.component_builder_dash_pemda_list||{}
        }
    },
    created:function(){
        if(Object.values(this.list_com).length==0){
            this.list_com=window.component_builder_dash_pemda_list||app.component_builder_dash_pemda_list||{};
        }
    },methods:{
        showList:function(){
            if(this.show=='' || this.show=='hide-com-list'){
                this.show='display-com-list';
            }
        },
        addCom:function(entitis){
            var com=entitis.map(el=>{
                return el[1];
            });
            if(['COL','ROW'].includes(com[0])){
                com[2]=['x'];
            }
            this.$emit('add_com',com);
            $('.modal').modal('hide');

        }
    },
    computed:{
        com_list:function(){
            return Object.entries(this.list_com).filter(el=>{
                return (el[1].title||'').toLowerCase().includes((this.search||'').toLowerCase());
            })
        },
        list:function(){
            
        }
    }
}
</script>
