<template>
<div class=" p-2 d-flex flex-column">
     <nav class="navbar navbar-light bg-primary " v-if="editable">
                <a class="navbar-brand" href="#"> <small> {{schema.title}}</small></a>
                <ul class="nav">
                    <li class="nav-item" v-if="comParent!='COL'">
                        <a class="nav-link text-white" href="#" @click="removeCom()">Hapus</a>
                    </li>
                </ul>
        </nav>  
    <template  v-if="filter.type_chart!='table'">
        <div class="row" v-if="editable">
            <div class="col-6">
            <select name="" class="form-control" id="" v-model="filter.type_chart">
                <option :value="v" :key="v" v-for="v in chart_varian">{{v}}</option>  
            </select>
        </div>
        </div>
        <charts ref="chart_egine" :options="chart" ></charts>
    </template>
</div>

</template>    

<script>
export default{
    props:{
        url_schema:{
            type:String,
            default:''
        },
        com:Array,
        def_tahun:Number,
        filterParent:{
            type:Object,
            default:function(){
                return {
                    filter_regional:null,
                    filter_status:null,
                    filter_tipe_bantuan:null,
                    filter_kodepemdas:null
                }
            }
        },
        indexCom:Number,
        editable:Boolean,
        comParent:String

    },
    data:function(){
        return {
            schema:{
                title:''
            },
            chart_varian:[],
            tahun:this.def_tahun||2019,
            chart:{
                title:{
                    text:''
                },
                chart:{
                    type:'column'
                },
                series:[]
            },
            table:{
                column:[],
                data:[]
            },
            filter:{
                filter_regional:null,
                filter_status:null,
                filter_tipe_bantuan:null,
                title:this.com[2],
                kodepemda:null,
                type_chart:this.com[5]||null,
                method:this.com[4]||null
            }
        }
    },
    watch:{
       "editable":function(){
         if(this.$refs.chart_egine['chart']!=undefined){
            this.$refs.chart_egine.chart.reflow();
        }

       },
        "filter.type_chart":function(val){
            this.filter.type_chart=val;
            this.com[5]=val;
            this.$emit('emit-from-chart',this.com,this.indexCom);
            this.$forceUpdate();
        },
          "filter":{
            deep:true,
            handler:function(val,old){
                this.loadData();
            }
        },
         "filterParent":{
            deep:true,
            handler:function(val,old){
                this.changeFilter();
                this.loadData();

            }
        },   
        com:function(){
            this.$forceUpdate();

        }       
    },
    created:function(){
        this.schema=app.component_builder_dash_pemda_list[this.com[3]]

        this.changeFilter();
        this.loadData();



    },
      mounted:function(){
        this.schema=app.component_builder_dash_pemda_list[this.com[3]]
        // setTimeout(function(ref){
        //     //    if(ref.$refs.chart_egine.$refs['chart']!=undefined){
        //         // ref.$refs.chart_egine.$refs.chart.reflow();
        // }
        // },500,this);
        // this.loadData();

    },
    methods:{
        changeFilter:function(){
                var val=this.filterParent;
                this.filter.filter_regional=val.filter_regional;
                this.filter.filter_status=val.filter_status;
                this.filter.filter_lokus=val.filter_lokus;
                this.filter.filter_tipe_bantuan=val.filter_tipe_bantuan;
                  if(val.filter_kodepemdas){
                 this.filter.filter_kodepemdas=val.filter_kodepemdas;
                }
        },
        removeCom:function(){
            this.$emit('remove-com',this.indexCom);
        },
        loadData:function(){
            var self=this;
                    self.chart={
                        chart:{
                            type:'column',
                        },
                        series:[],
                        
            };

            req_ajax.post(this.url_schema.replace('@TAHUN',this.tahun).replace('@CONTEXT',this.com[3]),this.filter).then(res=>{
                if(res.data.chart!=undefined){
                    Object.assign(self.chart,res.data.chart);
                    Object.assign(self.chart_varian,res.data.chart_varian);
                }else if(res.data.table!=undefined){
                    self.table=res.data.table;
                }
            }).finally(function(){
                self.chart.width=null;
                self.$forceUpdate();
                self.$refs.chart_egine.$forceUpdate();
               
                
            });
        }
    }
}
</script>
<style scoped>

</style>