<template>

   <div :class="editable?'ml-2':''">
     <nav class="navbar navbar-light bg-primary " v-if="editable ">
                <a class="navbar-brand" href="#"> <small> Row</small></a>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#" @click="removeCom()">Hapus</a>
                    </li>
                </ul>
        </nav>  
     <draggable  v-model.lazy="com[2]" class="row no-gutters " draggable=".drag-row">
        <div :key="'row-'+y" :class="'col-12    '+(editable?'sec-row':'') +'   drag-row '+(withBreak?' page-break ':'')+((com[1]>0) ?((com[2][y][0]!='TITLE')?' bg-white':''):'' ) " v-for="(item,y) in  com[2]">
               <div class="row no-gutters" v-if="editable && item!='x'">
                    <div class="col-12">
                        <nav class="navbar navbar-light bg-light ">
                            <a class="navbar-brand" href="#"><i class="fa fa-arrows-alt-v" aria-hidden="true"></i> Row Component ({{y+1}})</a>
                        </nav>
                    </div>
               </div>
                
                <dash-pre :com-neightbord="com[1]"  com-parent="ROW" :editable="editable" v-on:remove-com="removeElemen" v-on:emit-from-pre="editCom" :index-com="y"  v-if="item!='x'" :filter="filter" :com="item" :url_schema="url_schema"></dash-pre>
               <div v-if="item=='x' && editable " class="text-center bg-dark  py-2">
                        <dash-com-add  v-on:add_com="addCom"></dash-com-add>
                </div> 
        </div>
    </draggable>
   </div>
</template>
<style scoped>
    .sec-row{
        border-bottom: 2px dashed red;
    }
</style>
<script>
export default {

    props:{
        pointer:Array,
        withBreak:{
            type:Boolean,
            default:false
        },
        url_schema:String,
        filter:{
            type:Object,
             default:function(){
                return {
                    filter_regional:null,
                    filter_tipe_bantuan:null,
                    filter_status:null
                }
            }
        },
        editable:{
            type:Boolean,
            default:false,
        },
        row:Number,
        com:Array,
        indexCom:Number


    },
    mounted:function(){
        console.log(this.editable,'editable row');
        this.col_length();

    },
    created:function(){
        console.log(this.editable,'editable row');

    },
   
    data:function(){
        return {
            com_content:[]
        }
    },
    watch:{
    
        "com":{
            deep:true,
            handler:function(){
             
                this.col_length();
                

            }
        },
       
            
    },
    methods:{
        removeElemen:function(index){
            console.log('have com remove on row index',index);
            delete this.com[2][index];
            this.com[2]=Object.values(this.com[2]);
            this.$emit('emit-from-row',this.com);
            this.$forceUpdate();



        },
        removeCom:function(){
            this.$emit('remove-com',this.indexCom);
        },
        editCom:function(val,index){
           this.com[2][index]=Object.assign(this.com[2][index],val);
            console.log('row data',this.com);
            this.$emit('emit-from-row',this.com);
            this.$forceUpdate();

        },
         addCom:function(com){
           
                
             

                this.com[2].push(JSON.parse(JSON.stringify(com)));
                this.com[2]=Object.values(this.com[2]);
                this.col_length();
                this.$emit('emit-from-row',this.com);
                this.$forceUpdate();

                if(this.$refs.pre_com!=undefined){
                       this.$refs.pre_com.forEach(el=>{
                        el.reInitChild();
                    });
                }

            

        },
       
         emOrder:function(){
            this.com_content=Object.values(this.com_content);
           
            // this.$emit('from-com-row',this.com_content);

         },
         col_length:function(){
            this.com[2].forEach((el,k) => {
                if(el=='x'){
                    if(this.com[2].length-1!=k){
                        delete this.com[2][k];
                    }
                }
               
            });
            if(this.com[2].length-1!=-1){
                 if(this.com[2][this.com[2].length-1]){
                    if(this.com[2][this.com[2].length-1]!='x'){
                        this.com[2].push('x')
                    }
                }
            }else{
               
                this.com[2].push('x')
            }
           
             
            this.com[2]=Object.values(this.com[2]);
            this.com[1]=this.com[2].length-1;
           
            
        }
    },
    computed:{
        com_parse:function(){
            return Object.values(this.com_content);

        }
       
    }
}
</script>