<template>
       <div>
         <div :class="'row  '+(editable && !withBreakRow?'ml-2':'')" v-if="com!=undefined">
            <div class="col-12">
            <dash-markdown :com-parent="comParent" :editable="editable" v-on:edit-com="comEmit" v-on:remove-com="removeCom" :index-com="indexCom"  :com="com" v-if="com[0]=='TITLE'" ></dash-markdown>
            <dash-display :def_tahun="filter.tahun"  :com-parent="comParent" :editable="editable" v-on:remove-com="removeCom" ref="chart_display" v-on:emit-from-chart="comEmit" :index-com="indexCom"  v-if="com[0]=='COMDATA'" :filter-parent="filter"  :url_schema="url_schema" :com="com" ></dash-display> 
            <dash-data :def_tahun="filter.tahun"  :com-parent="comParent" :editable="editable" v-on:remove-com="removeCom" ref="chart_display" v-on:emit-from-chart="comEmit" :index-com="indexCom"  v-if="com[0]=='COMDATASINGLE'" :filter-parent="filter"  :url_schema="url_schema" :com="com" ></dash-data> 
           <dash-row  :com-parent="comParent" :index-com="indexCom"  :editable="editable" v-on:remove-com="removeCom"  v-on:emit-from-row="comEmit" v-if="com[0]=='ROW'" :with-break="withBreakRow" :filter="filter" :com="com" :url_schema="url_schema" ></dash-row>
            <dash-col  :com-parent="comParent" :index-com="indexCom"  :editable="editable" v-on:remove-com="removeCom"  v-on:emit-from-row="comEmit" v-if="com[0]=='COL'" :with-break="withBreakRow" :filter="filter" :com="com" :url_schema="url_schema" ></dash-col>
           
           </div>
        </div>
       </div>
</template>
<script>
export default {
 
    props:{
        pointer:Array,
        withBreakRow:{
            type:Boolean,
            default:false
        },
        comParent:String,
        url_schema:String,
        comNeightbord:Number,
        filter:{
            type:Object,
            default:function(){
                return {
                    filter_regional:null,
                    filter_tipe_bantuan:null,
                    filter_status:null,
                    filter_kodepemdas:null,
                    tahun:null
                }
            }
        },
        
        com:Array,
        indexCom:Number,
        editable:Boolean

    },
  
    data:function(){
        return {
            com_content:[]
        }
    },
    mounted:function(){
        console.log(this.editable,'editable pre');
    },
    created:function(){
        console.log(this.editable,'editable pre');

    },

    watch:{
        "comNeightbord":function(){
            this.reInitChild();
        },
          "editable":function(val){
            console.log('pre get editable',val);
        },
        
        com:{
            deep:true,
            handler:function(val){
               
            }
        }
    },
    methods:{
        removeCom:function(index){
            this.$emit('remove-com',index);
        },
        comEmit:function(com,index){
         if(index){

         }else{
            this.com=Object.assign(this.com,com);
            console.log('pre data',this.com);
            this.$emit('emit-from-pre',this.com,this.indexCom);
            this.$forceUpdate();
         }

        },
        reInitChild:function(){
            if(this.com[0]=='COMDATA'){
                  setTimeout(function(ref){
                    if(ref.$refs.chart_display.$refs.chart_egine.chart){
                        ref.$refs.chart_display.$refs.chart_egine.chart.reflow();

                    }
                },400,this);
            }
          
        }
       
        // fromComRow:function(val){
        //     this.com[2]=Object.values(val);
        //     this.$emit('from-com-pre',this.com,this.indexCom);

        //     if(this.withBreakRow){
        //     }

        // },
        // fromComCol:function(val){
        //     this.com[2]=(val);
        //     this.$emit('from-com-pre',this.com,this.indexCom);

        // }
    }
    
    
}
</script>