<template>
    
         <div class="p-2 mb-2 ">
              <nav class="navbar navbar-light bg-primary mb-2 " v-if="editable">
                <a class="navbar-brand" href="#"> <small> MarkDown</small></a>
                <ul class="nav">
                    <li class="nav-item" v-if="comParent=='ROW'">
                         <dash-com-edit v-on:emit-edit="editCom" :index-com="indexCom" :com="com" ></dash-com-edit>
                    </li>
                    <li class="nav-item" v-if="comParent!='COL'">
                        <a class="nav-link text-white" href="#" @click="removeCom()">Hapus</a>
                    </li>
                </ul>
        </nav>  
           <div class="flex-grow-1">
            <div class="align-self-center">
                 <h5 class="text-center" v-if="com[1]">{{com[1]}}</h5>
                <h5 class="text-center text-muted"  v-if="(!com[1]) && editable">Title...</h5>
                <p v-html="com[2]"></p>
            </div>
           </div>
     </div>
</template>

<script>

export default {
     props:{
        editable:Boolean,
        indexCom:Number,
        com:Array,
        comParent:String
    },
    methods:{
        removeCom:function(){
            this.$emit('remove-com',this.indexCom);
        },
        editCom:function(com,index){
            this.$emit('edit-com',com);
        }
    },

}
</script>
