<template>
       
     <div :class="editable?'ml-2':' '">
        <nav class="navbar navbar-light bg-primary " v-if="editable">
                <a class="navbar-brand" href="#"> <small> Component Column</small></a>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#" @click="removeCom()">Hapus</a>
                    </li>
                </ul>
        </nav>  
        <draggable v-model.lazy="com[2]" class="row no-gutters" draggable=".drag-col">
               <div :key="'com-'+x" v-for="(item,x) in  com[2]" :class="col_class(com[1])+' shadowx   bg-white  drag-col '+((com[1]>1 && x<(com[1] -1))?' border border-dark border-left-0 border-top-0 border-bottom-0':'')">
                     <div class="row no-gutters " v-if="editable && item!='x'">
                        <div class="col-12 mb-1">
                            <nav class="navbar navbar-light bg-light ">
                            <a class="navbar-brand" href="#"><i class="fa fa-arrows-alt-h" aria-hidden="true"></i> <small> Cm ({{x+1}})</small></a>
                            <ul class="nav">
                                <li class="nav-item">
                                    <dash-com-edit v-on:emit-edit="editCom" :index-com="x" :com="item" ></dash-com-edit>
                                </li>
                                <li class="nav-item">
                                    <button class="btn btn-danger col-12 " @click="removeComContent(x)"><i class="fa fa-trash"></i></button>
                                </li>
                            </ul>
                            </nav>  
                        </div>
                    </div>
                    <div v-if="item=='x' && editable"  class="text-center bg-dark  py-2">
                        <dash-com-add  v-on:add_com="addCom"></dash-com-add>
                     </div> 
                    <template v-if="item!='x' ">
                        <dash-pre :com-neightbord="com[1]"  com-parent="COL" v-on:remove-com="removeElemen" :editable="editable" ref="pre_com" v-on:emit-from-pre="editCom"  :index-com="x"  :filter="filter" :com="item" :url_schema="url_schema"></dash-pre>
                    </template>
                    
 
                </div>
        </draggable>
     </div>
</template>
<script>
export default {
    props:{
        pointer:Array,
        url_schema:String,
        filter:{
            type:Object,
            default:function(){
                return {
                    filter_regional:null,
                    filter_tipe_bantuan:null,
                    filter_status:null
                }
            }
        },
        col:Number,
        com:Array,
        editable:Boolean,
        indexCom:Number

    },
    
    mounted:function(){
        console.log(this.com[2].length);

        if(this.com[2].length==0){
            console.log('asiapppp',this.com);
        }
        this.col_length();
    
    },
    created:function(){
        console.log('editable col',this.editable);
        if(this.com[2].length==0){
        }
        // this.com_content=JSON.parse(JSON.stringify(this.com));
        this.col_length();

    },

    data:function(){
        return {
            com_content:[]
        }
    },
    watch:{
          "editable":function(val){
            console.log('col get editable',val);
        },
        "com":{
            deep:true,
            handler:function(val){
                this.col_length();


            }
        },
        
            
    },
    methods:{
        removeComContent:function(index){
           delete this.com[2][index]
            this.col_length();
            this.com[2]=Object.values(this.com[2]);
            this.$emit('emit-from-col',this.com);
            this.$forceUpdate();


        },
         col_class:function(val){
            var clas='col-12';
            switch(val){
                case 1:
                if(this.editable){
                clas= 'col-6';

                }else{
                clas= 'col-12';

                }
                break;
                case 2:
                     if(this.editable){
                    clas= 'col-4';

                    }else{
                    clas= 'col-6';

                    }
                break;
                case 3:
                    clas='col-4'
                break;
                case 4:
                 clas= 'col-3';
                break;
            }
            return clas;
        },  
        editCom:function(com,index){
           this.com[2][index]=Object.assign(this.com[2][index],com);
            this.com[2]=Object.values(this.com[2]);
            this.$emit('emit-from-col',this.com);
            this.col_length();

            this.$forceUpdate();


        },
        removeElemen:function(index){
            delete this.com[2][index];
            this.com[2]=Object.values(this.com[2]);
            this.$emit('emit-from-col',this.com);
        },
        removeCom:function(x){
            console.log('col remove index',this.indexCom);
            this.$emit('remove-com',this.indexCom);
        },
        addCom:function(com){
           
                if(this.$refs.pre_com!=undefined){
                       this.$refs.pre_com.forEach(el=>{
                        el.reInitChild();
                    });
                }
             

                this.com[2].push(JSON.parse(JSON.stringify(com)));
                this.com[2]=Object.values(this.com[2]);
                this.col_length();
                this.$emit('emit-from-col',this.com);
                this.$forceUpdate();

            

        },
        
        emOrder:function(){
         
            this.$emit('from-com-col',Object.values(this.com_content));

         },
        col_length:function(){

            if(this.com!='x'){
                 this.com[2].forEach((el,k) => {
                if(el=='x'){
                    if(this.com[2].length-1!=k){
                        delete this.com[2][k];
                    }
                }
               
            });
            if((this.com[2].length-1)!=-1){
                 if(this.com[2][this.com[2].length-1]){

                    if(this.com[2][this.com[2].length-1]!='x'){
                        this.com[2].push('x')
                    }
                }

            }else{
               
                this.com[2].push('x');
            }
           
             
            this.com[2]=Object.values(this.com[2]);
            this.com[1]=this.com[2].length-1;

            if(this.com[2].length>=4){
                this.com[2]=this.com[2].filter((el,k)=>{
                        return el!='x';
                    });
                    this.com[1]=this.com[2].length;
                }
            }

            // this.$forceUpdate();
            console.log('foreced col');
         

           
            
        }
    },
}
</script>