<template>
    <div>
        <charts :options="chart_l1"></charts>
    </div>
</template>

<script>
    export default {
        props:{
            url_base:{
                type:String
            }
        },
        data:function(){
            return {
                chart_pertahun:{
                    chart:{
                        chart:{
                            type:'pie'
                        },
                        series:[],
                        xAxis:{
                            type:'category'
                        }
                    },
                },
                chart_perpemda:{
                    tahun:0,
                    show:false,
                    chart:{
                        chart:{
                            type:'pie'
                        },
                        series:[],
                        xAxis:{
                            type:'category'
                        }
                    }
                },
                total_anggaran:0,

            }
        }
    }
</script>