<template>
    <div class="d-flex flex-column bg-white w-100 rounded mt-2">
        <h4 class="bg-secondary p-2 rounded">{{title}}</h4>  
        <div class="btn-group W-100 self-align-center " v-if="isAggre">
            <button @click="addScope(btn)" :class="'btn '+(isClikedScope(btn)?'btn-warning':'btn-primary')" :key="i+'btn'" v-for="btn,i in varian_filter">{{btn.label}}</button>
        </div>
        <div class="d-flex w-100 border-bottom">
            <div class=" p-2 text-left mr-1 flex-grow-1">
                <h4 class="">Capaian</h4>
                <p class=" mb-0"> <small v-if="satuan_deviasi_pos=='prefix'">{{(satuan_deviasi)}}</small>  {{numberFormat(capaian.value)}} <small v-if="satuan_deviasi_pos=='surfix'">{{(satuan_deviasi)}}</small> </p>
                <small class="">Tahun {{capaian.tahun}} ({{capaian.jumlah_pemda}} Pemda - {{capaian.jumlah_pemda_kabkot}} Kab/Kota, {{capaian.jumlah_pemda_provinsi}} Provinsi )</small>
            </div>
            <div class="bg-white p-2 text-right">
                <h4 class=""><small>Persentase Peningkatan</small><b> {{deviasi_percentage}}%</b></h4>
                <p class="">Deviasi <small v-if="satuan_deviasi_pos=='prefix'">{{(satuan_deviasi)}}</small>  {{numberFormat(deviasi)}} <small v-if="satuan_deviasi_pos=='surfix'">{{(satuan_deviasi)}}</small> </p>
            </div>
            
        </div> 
        <div :key="i" v-for="item,i in charts">
            <charts :options="item"></charts>
        </div>
        
    </div>
</template>


<script>
export default{
    props:{
        link:String,
        isAggre:{
            type:Boolean,
            default:true
        },
       
        options:{
            type:Object,
            default:function(){
                return {
                scope:''
                };
            }
        },
        statusData:Number
    },
    data:function(){
        return {
            varian_filter:[
                {
                    key:'scope',
                    value:'',
                    label:'Nasional'
                },
                {
                    key:'scope',
                    value:'LONGLIST',
                    label:'Longlist'
                },
                {
                    key:'scope',
                    value:'SORTLIST',
                    label:'Sortlist'
                },
                {
                    key:'regional',
                    value:'I',
                    label:'Regional I'
                },
                {
                    key:'regional',
                    value:'II',
                    label:'Regional II'
                },
                {
                    key:'regional',
                    value:'III',
                    label:'Regional III'
                },
                {
                    key:'regional',
                    value:'IV',
                    label:'Regional IV'
                }
            ],
            title:'',
            subtitle:'',
            charts:[],
            deviasi:0,
            capaian:{
                value:0,
                tahun:0,
                jumlah_pemda:0,
                jumlah_pemda_kabkot:0,
                jumlah_pemda_provinsi:0,

            },
            options_final:{
                scope:''
            },
            satuan_deviasi:'Rp.',
            satuan_deviasi_pos:'prefix',
            deviasi_percentage:0,
        };
    },
    mounted() {
        if(this.options){
            this.options_final=this.options;
        }
        this.loadData();
    },
    methods: {
        isClikedScope:function(x){
            if(this.options_final[x.key]!=undefined){
                return this.options_final[x.key]==x.value;
            }else{
                return false;
            }
        },
        numberFormat:function(num){
            return window.NumberFormat(parseInt(num));
        },  
        addScope:function(x){
            this.options_final={};
            this.options_final[x.key]=x.value;
            this.loadData();
        },
        loadData:function(){
            var self=this;
            this.$isLoading(true);
            var dtsr=this.options_final;
            if(this.statusData){    
            dtsr.status_data=this.statusData;

            }
            req_ajax.post(this.link,dtsr).then(res=>{
                self.deviasi=res.data.dev;
                self.title=res.data.title;
                self.subtitle=res.data.subtitle;

                self.capaian=res.data.capaian;
                self.deviasi_percentage=res.data.dev_percentage;
                self.charts=res.data.charts;

            }).finally(function(){
                self.$isLoading(false);
            });
        }
    },

}
</script>