<template>
    <div class="bg-white">
        <charts :constructor-type="'mapChart'" :options="chart" ></charts>
    </div>
    
</template>

<script>
    export default{
        props:{
            getter:String,
            meta:{
                type:Object,
                default:function(){
                    return {
                        pemda:{
                            nama_pemda:'',
                            kode:null
                        }
                    }
                }
            },
            tahun:Number,
            kodepemda:String
        },
        data:function(){
            return {
                chart:{
                    title:{
                        text:''
                    },
                    subtitle:{
                        text:'sks'
                    },
                    yAxis:{
                        title:{
                            text:'RP'
                        }
                    },
                    xAxis:{
                        type:'category'
                    },
                    plotOptions:{
                        scatter:{
                            dataLabels:{
                                enabled:true,
                                format:'{point.name}  '
                            }
                        }
                    },
                    chart:{
                        type:'line',
                      
                    },
                   
                   
                    series:[]
                
                }
            }
        },
        created:function(){
            this.loadData();
        },
        watch:{
            "meta.pemda.kode":{
                deep:true,
                handler:function(val){
                    console.log('new',val);
                        this.loadData();
                }
            }
        }, 
        methods:{
            loadData:function(){
                var self=this;
                this.chart.title.text='Evaluasi Program Kegiatan Pengelolaan Air Minum  Daerah Tahun '+this.tahun;
                this.chart.subtitle.text=this.meta.pemda.nama_pemda;
                this.chart.series=[];

                
                req_ajax.post(this.getter.replace('xxx',this.meta.pemda.kode)).then(res=>{
                    self.chart.series=res.data.data;
                });
            }
        }

    }
</script>