<template>
    <div>
        <button class="btn btn-warning " @click="show()">Mode Input Multy</button>
          <div ref="modal_input" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-full" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{dataset.name}}</h5>
                        <button type="button" @click="showModal=false;" class="close" data-dismiss="modal" aria-label="Close" >
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div class="btn-group mb-2 b" v-if="showModal">
                            <button  class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Tambah </button>
                            <button v-if="showDeleteAction" class="btn btn-danger btn-sm" @click="deleteRecord()"><i class="fa fa-trash"></i> Delete </button>
                        </div>
                        <div class="table-responsive">
                              <vue-excel-editor ref="grid" filter-row v-model="jsondata" :width="'100%'" class="">
                            <vue-excel-column  :invisible="true" field="id"   label="id" type="number"  />
                            <vue-excel-column  :invisible="true" field="kodepemda"   label="kodepemda" type="string"  />
                            <vue-excel-column field="xx"  :autoFillWidth="true"   label="Nama Pemda"   type="select" :options="option_label" />
                            <template   v-for="col,i in columns" >
                                <template v-if="col.type=='input-value'">
                                    <vue-excel-column :key="'stight_'+i"   :field="col.field_name"   :label="col.name+' ('+col.satuan+')'"       :type="parseType(col.tipe_nilai)"  />
                                </template>
                                <template v-else-if="col.type=='options'">
                                    <vue-excel-column :key="'op_'+i" :invisible="true"   :field="col.field_name"   :label="'xx_'+col.name"   :type="parseType(col.tipe_nilai)"  />
                                    <vue-excel-column :key="'xx_'+i"  @change="changeOp(i,col.field_name,$event.target.value,col)"   :field="'xx_'+col.field_name"   :label="col.name+' ('+col.satuan+')'"   :options="parseOption(col)"    :type="'string'"  />
                                </template>
                            </template>
                               
                            
                        </vue-excel-editor>
                        </div> 
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary">Simpan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</template>

<script>
import { object } from 'webidl-conversions';


export default {
   props:{
    columns:Array,
    dataset:{
        type:Object,
        default:{
            id:0,
            name:''
        }
    },
    listPemda:Array,
   },
   data:function(){
     return {
        showModal:false,
        option_label:[],
        jsondata:[
            {
                user:'',
                xx:'',
                name:'',
                gender:'',
                age:'',
                birth:null



            }
        ]
     }
   },
   mounted:function(){
        this.$forceUpdate();
   },
   methods:{
    buildData:function(oldData){
        var data={};
        this.columns.forEach(el => {
            if(this.type=='options'){
                data[el.field_name]=null;
                data['xx_'+el.field_name]=null;
            }else{
                data[el.field_name]=null;
            } 
        });

        this.columns.forEach(el => {
            Object.entries(oldData).forEach((el)=>{
                if(data[el[0]]==undefined){
                    
                }
            });
            
        });

    },
    deleteRecord:function(){
        this.$refs.grid.deleteSelectedRecords();
    },
    changeOp:function(index,field_name,value,col){
        console.log(index,field_name,value,col);
    },
    show:function(){
        this.showModal=true;
    },
    parseOption:function(col){
        var option=JSON.parse(col.options).map(el=>{
            return el.tag;
        });
        return option;
    },
    parseType:function(val){
        var a='string';
            switch(val){
                case 'numeric':
                    a= 'number';
                break;
                default:
                    console.log(val);
                    a= 'string';
                break;
            }

            return a;
        }
   },
   created:function(){
    this.option_label=this.listPemda.map(el=>{
            return el[1];
    });

        this.$forceUpdate();
   },
  
   watch:{
    showModal:function(val){
        if(val){
        $(this.$refs.modal_input).modal({backdrop:'static'});

        }else{
            $(this.$refs.modal_input).modal('hide');
        }

    },
    jsondata:{
        deep:true,
        handler:function(){
            console.log(this.jsondata); 
        }
    },
    listPemda:function(val){
        this.option_label=val.map(el=>{
            return el[1];
        });
    }
   },
   computed:{
      showDeleteAction:function () {
        if(this.$refs.grid!=undefined)
        {
            return this.$refs.grid.selectedCount > 0;  // Show if any records selected

        }else{
            return false;
        }
    },
      
   }
}
</script>
