<template>
 <div  class="container shadow p-3 pl-5">
    <button class="btn btn-primary" @click="buildBeritaCara">Upp</button>
    <div ref="app_berita_acara" >
        <div class="text-center mb-5">
            <h1 align="center">Berita Acara</h1>
            <h4  align="center">Evaluasi Dukungan Pemerintah Daerah terhadap Program Air Minum</h4> 
            <h4  align="center">Dalam Kerangka National Urban Water Supply Project (NUWSP)
            Tahun Anggaran {{tahun}}</h4>
        </div>

    <p>Pada hari ini, Rabu  tanggal Dua puluh empat bulan November Tahun {{tahun}}, telah dilaksanakan Forum Desk Evaluasi Dukungan Pemerintah Daerah terhadap Program Air Minum dalam Kerangka NUWSP dengan tujuan bersama pemerintah daerah Kabupaten  dengan rincian hasil pembahasan sebagai berikut:</p>   
   
    <ol>
        <li>Sudah dilakukan pembahasan desk untuk melihat capaian dan evaluasi terhadap kinerja, menggali permasalahan pelaksanaan program dan kegiatan serta menyusun tindak lanjut kegiatan pemerintah daerah untuk mendukung BUMD Air Minum dalam kerangka NUWSP </li>
        <li>Hasil Evaluasi Dukungan Pemerintah Daerah terhadap Program Air Minum dalam Kerangka NUWSP sebagaimana dimaksud pada poin 1 adalah sebagaimana terlampir</li>  
        <li>Pemetaan Dukungan Pemerintah Daerah terhadap BUMD Air Minum tahun {{tahun}} berdasarkan hasil pembahasan yang telah dievaluasi sebagai berikut:
            <ol>
                <li>
                    Pencapaian akses layanan air minum layak mengalami peningkatan …. % dari jumlah SR/KK atau …. Jiwa kenaikan dengan jumlah ….. %  kontribusi JP BUMDAM atau ……. SR/KK dengan uraian sebagai berikut :
                    <br>
                    <br>

                    <eval-form-1 :tahun="tahun" :ba="true"  :pilihan_tahun="pilihan_tahun" ref="form_1" :meta="meta" :getter="getter.form_1" ></eval-form-1>


                </li>
                <li>Pemda kab/kota …. telah berkomitrmen dalam perencanaan penyusunan program dan kegiatan Pengelolaan Air Minum …. % dari anggaran dinas/urusan, serta telah melaksanakan penganggaran …. % dari total APBD dengan uraian sebagai berikut :
                    <br>
                    <br>
                    <eval-form-1 :tahun="tahun" :ba="true"  :pilihan_tahun="pilihan_tahun" ref="form_1" :meta="meta" :getter="getter.form_1" ></eval-form-1>


                </li>
                <li>
                    Dukungan Pemda kab/kota dalam pemenuhan DDUB  telah merencanakan total  DDUB sebesar Rp. ……… dan telah terealiasai sampai dengan 2021 sebasar Rp. ………………., dengan uraian sebagai berikut : 
                    <br>
                    <br>
                    <eval-form-1 :tahun="tahun" :ba="true"  :pilihan_tahun="pilihan_tahun" ref="form_1" :meta="meta" :getter="getter.form_1" ></eval-form-1>

                </li>
                <li>
                    Tarif air minum (FCR dan Non-FCR) merupakan target BUMDAM yang harus didukung oleh kebijakan Pemda, Pemda Kab/Kota telah memberikan (adanya / tidak adanya) subsidi sebesar ….. %, dengan uraian sebagai berikut : 
                    <br>
                    <br>
                    <eval-form-1 :tahun="tahun" :ba="true"  :pilihan_tahun="pilihan_tahun" ref="form_1" :meta="meta" :getter="getter.form_1" ></eval-form-1>

                </li>
                <li>
                    Pemda Kab/Kota …. Telah memberikan penyertaan modal  sebesar Rp. … dan ppemenuhan infrastuktur sebesar Rp. ……., dengan perkiraan laba bersih Rp. ……….. sebagai mana terurai sebagai berikut : 
                    <br>
                    <br>
                    <eval-form-1 :tahun="tahun" :ba="true"  :pilihan_tahun="pilihan_tahun" ref="form_1" :meta="meta" :getter="getter.form_1" ></eval-form-1>

                </li>
                <li>
                    Sebagai syarat pemenuhan Readiness Criteria Pemerintah Daerah dalam keikutsertaan dalam Program NUWSP, berikut status, tindak lanjut dan isu strategis yang merupakan komitmen dan konsistensi pemda :
                    <br>
                    <br>
                    <eval-form-1 :tahun="tahun" :ba="true"  :pilihan_tahun="pilihan_tahun" ref="form_1" :meta="meta" :getter="getter.form_1" ></eval-form-1>

                </li>
            </ol>
        </li>  
    </ol>


    <p>    
    Demikian berita acara ini disusun untuk menjadi informasi seluruh stakeholder terkait dan diharapkan dapat dipergunakan sebagai bahan evaluasi sebagaimana mestinya sehingga dapat memberikan rekomendasi peningkatan capaian terhadap target Nasional dan Pemda dalam pencapaian akses jaringan air minum perpipaan.
    Koordinasi dan informasi selanjutnya terkait hasil pelaksanaan desk, kelengkapan berita acara, maupun pengelolaan NUWSP di daerah secara umum dapat dilayangkan melalui email perkim.bangda@gmail.com
    </p>
    <div class="d-flex">
        <div class="col-4">
            <p>Direktorat Jenderal Bina Pembangunan Daerah</p>
            <br>
            <br>
            <br>

        </div>
        <div class="col-4"></div>

        <div class="col-4">
            <p>Pemerintah Daerah</p>
            <br>
            <br>
            <br>

        </div>
    </div>
    </div> 

   	

 </div>
</template>

<script>
    export default{
        props:{
            tahun:{
                type:Number,
                default:2022
            },
            meta:Object,
            getter:Object,
            setter:Object,
            pilihan_tahun:Array
        },
        methods:{
            buildBeritaCara:function(){
                var vm = {
                    word:$(this.$refs.app_berita_acara).html()
                };
                var word = `<html xmlns:o='urn:schemas-microsoft-com:office:office xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Export HTML to Word Document with JavaScript</title></head><body>${vm.word}</body></html>`;
                var source = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(word);
                var fileDownload = document.createElement("a");
                document.body.appendChild(fileDownload);
                fileDownload.href = source;
                fileDownload.download = 'hsl-file.doc';
                fileDownload.click();
                document.body.removeChild(fileDownload);
            }
        }
    }
</script>