<template>
    <div class="card">
        <div class="card-body">
            <div class="btn-group mb-1">
                <button class="btn btn-primary btn-sm" @click="addData(item)" :key="item" v-for='item in tahun_add'>
                    <i class="fa fa-plus"></i> {{item}}
                </button>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th rowspan="2">Aksi s</th>
                                <th rowspan="2">Tahun</th>
                                <th colspan="4">Dukungan Kebijakan PEMDA Dalam Pemenuhan Tarif Air Minum (FCR)</th>
                                <th rowspan="2">Keterangan</th>  
                            </tr>
                            <tr>
                                <th>
                                    % FCR
                                </th>
                                <th>
                                    Klasifikasi FCR/NON FCR
                                </th>
                                <th>
                                    Subsidi Tarif (Ada,Tidak Ada)
                                </th>
                                <th>
                                    Besaran Subsidi
                                </th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            <tr :key="i" v-for="item,i in data">
                                <td >
                                    <button @click="deleteItem(i)" class="btn btn-danger btn-sm" ><i class="fa fa-trash"></i></button>
                                </td>
                                <td>{{item.tahun}}
                                    <span v-if="item.updated_at==null" class="badge badge-primary">Draf</span> 
                                    
                                </td>
                                <td style="min-width:100px;">
                                    <formulate-input @change="drafTed(i)" step="0.01" type="number"  v-model="item.nilai_fcr" ></formulate-input>

                                </td >
                                
                                <td style="min-width:100px;">
                                    <formulate-input @change="drafTed(i)"  type="select" :options="option_fcr"  v-model="item.fcr" ></formulate-input>
                                    
                                </td >
                                <td style="min-width:100px;">
                                    <formulate-input @change="drafTed(i); pilihanSub(i,item.subsidi);"  type="select" :options="option_subsidi"   v-model="item.subsidi" ></formulate-input>
                                </td >

                                <td style="min-width:100px;">
                                    <vue-numeric @change="drafTed(i)" v-if="item.subsidi==1"   class="input-size-18" currency="Rp. " separator=" " v-model="item.nilai_subsidi"></vue-numeric>
                                    
                                </td >

                                <td style="min-width:300px;">
                                    <textarea-autosize  class="area-text" @change="drafTed(i)"
                                            v-model="item.keterangan"
                                    />
                                </td >
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary btn-sm" @click="saveItem()">Simpan</button>
        </div>
    </div>
      
</template>


<script>
    export default {
            props:{
                meta:Object,
                getter:String,
                setter:String,
                tahun:Number,
                pilihan_tahun:Array
            },
            data:function(){
    
                    return {
                        option_fcr:[
                                        {
                                            label:'FCR',
                                            value:1,
                                        },
                                        {
                                            label:'NON FCR',
                                            value:0,
                                        }
                        ],
                        option_subsidi:[
                                        {
                                            label:'Ada',
                                            value:1,
                                        },
                                        {
                                            label:'Tidak Ada',
                                            value:0,
                                        }
                        ],
                        data:[],
                        data_def:{
                            kodepemda:'',
                            tahun:2021,
                            kodebu:this.meta.bumdam.select.id,
                            fcr:0,
                            nilai_fcr:0,
                            updated_at:null,
                            subsidi:0,
                            nilai_subsidi:0,
                            keterangan:''
                        }
    
                    }
            },
            mounted:function(){
            this.loadData();
        },
        watch:{
            "meta":{
                deep:true,
                handler:function(){
                    this.loadData();
                }
            }
        },
        computed:{
           
            persetange:function(val){
                    if(isNaN(val)){
                        return 0;
                    }else if((val+'').toUpperCase()=='INFINITE'){
                        return 0;
                    }else{
                        return window.NumberFormat(val);
                    }
                },
            tahun_add:function(){
                return  this.pilihan_tahun.filter(el=>{
                        return !(this.data.map(d=>{
                            return d.tahun+'';
                        })).includes(el);
                    });
            }
                    
        },
        methods:{
            drafTed:function(i){
                if(this.data[i]!=undefined){
                    this.data[i].updated_at=null;

                }
            },
            pilihanSub:function(index,val){
                if(val){

                } else{
                    this.data[index].nilai_subsidi=0;
                }
            },
                addData:function(tahun){
                    var data=this.data_def;
                    data.tahun=parseInt(tahun);
                    this.data.push(JSON.parse(JSON.stringify(data)));
                    this.data=this.data.sort(function(a,b){
                        if (parseInt(a.tahun) > parseInt(b.tahun)) return -1;
                        if (parseInt(a.tahun) < parseInt(b.tahun)) return 1;
                    });
                },
                deleteItem:function(i){
                    this.data.splice(i,1);
                },
                saveItem:function(){
                    var self=this;
                    self.$isLoading(true);

                    req_ajax.post(this.setter,{
                        data:this.data,
                        meta:{
                            tahun:this.tahun,

                            kodepemda:this.meta.pemda.kodepemda,
                            kodebu:this.meta.bumdam.select.id,
                            tipe_bantuan:this.meta.bantuan.select.tipe_bantuan
                        }
                    }).then(res=>{
                        self.loadData();
                        self.$isLoading(false);
                    }).finally(function(){

                    });
                },
                loadData:function(){
                    var self=this;
                    req_ajax.post(this.getter,{
                        meta:{
                            tahun:this.tahun,

                            kodepemda:this.meta.pemda.kodepemda,
                            kodebu:this.meta.bumdam.select.id,
                            tipe_bantuan:this.meta.bantuan.select.tipe_bantuan
                        }
                    }).then(res=>{
                        if(res.data.code==200){
                            var data=[];
                            res.data.data.forEach((el)=>{
                                el.fcr=el.fcr?1:0;
                                el.subsidi=el.subsidi?1:0;
                                data.push(el);
                            })
                            self.data=data;
                        }
                    }).finally(function(){


                    });
                }
        }
    };
        
       
    </script>  