<template>
    <div class="card">
        <div class="card-body">
            <div class="btn-group mb-1">
                <button class="btn btn-primary btn-sm" @click="addData(item)" :key="item" v-for='item in tahun_add'>
                    <i class="fa fa-plus"></i> {{item}}
                </button>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th rowspan="3">Aksi</th>
                                <th rowspan="3">Tahun</th>
                                <th colspan="6">Program Kegiatan Pengelolaan Air Minum Daerah</th>
                                <th>Total APBD</th>
                                <th>% SPAM dari APBD </th>
                                <th rowspan="3">Keterangan </th>

                            </tr>
                            <tr>
                                <th colspan="2">Perencanaan (RKPD)</th>
                                <th colspan="2">Anggaran (APBD)</th>
                                <th colspan="2">Sinkronisasi</th>
                                <th rowspan="2">Jumlah</th>
                                <th rowspan="2">%</th>
                            </tr>  
                            <tr>
                                <th>Jumlah Sub / kegiatan</th>
                                <th>Pagu Indikatif</th>
                                <th>Jumlah Sub / kegiatan</th>
                                <th>Anggaran</th>
                                <th>Gap Keg / Sub Kegiatan</th>
                                <th>Gap Pagu Indikatif & Anggaran</th>
                            </tr>  


                        </thead>
                        <tbody>
                            <tr :key="i" v-for="item,i in data">
                                <td >
                                    <button @click="deleteItem(i)" class="btn btn-danger btn-sm" ><i class="fa fa-trash"></i></button>
                                </td>
                                <td>{{item.tahun}}
                                    <span v-if="item.updated_at==null" class="badge badge-primary">Draf</span> 
                                </td>
                                <td style="min-width:100px;">
                                    <vue-numeric @change="drafTed(i)"  class="input-size-18" currency="" separator=" " v-model="item.rkpd_ar_sub"></vue-numeric>

                                    
                                </td >
                                <td style="min-width:250px;">
                                    <vue-numeric @change="drafTed(i)"  class="input-size-18" currency="Rp. " separator=" " v-model="item.rkpd_ar_ag"></vue-numeric>

                                    
                                </td >
                                <td style="min-width:100px;">
                                    <vue-numeric @change="drafTed(i)"  class="input-size-18" currency="" separator=" " v-model="item.apbd_ar_sub"></vue-numeric>

                                    
                                </td >
                                <td style="min-width:250px">
                                    <vue-numeric @change="drafTed(i)"  class="input-size-18" currency="Rp. " separator=" " v-model="item.apbd_ar_ag"></vue-numeric>

                                    
                                </td>
                                
                               <td style="min-width:100px">
                                {{persentage(parseInt(item.rkpd_ar_sub) - parseInt(item.apbd_ar_sub))}}
                               </td>   
                               <td style="min-width:250px">
                                {{persentage(parseInt(item.rkpd_ar_ag) - parseInt(item.apbd_ar_ag))}}
                               </td>
                               <td style="min-width:250px;">
                                <vue-numeric @change="drafTed(i)"  class="input-size-18" currency="Rp. " separator=" " v-model="item.apbd_tot"></vue-numeric>

                                    
                                </td>
                                <td>
                                {{persentage((parseInt(item.apbd_ar_ag)/parseInt(item.apbd_tot) ) *100)}} %
                               </td>
                                <td style="min-width:300px;">
                                    <textarea-autosize class="area-text"  @change="drafTed(i)"
                                            v-model="item.keterangan"
                                    />
                                </td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary btn-sm" @click="saveItem()">Simpan</button>
        </div>
    </div>
                
</template>    

<script>
    export default {
            props:{
                meta:Object,
                getter:String,
                setter:String,
                pilihan_tahun:Array,
                tahun:Number
            },
            data:function(){
    
                    return {
                        data:[],
                        data_def:{
                            kodepemda:'',
                            tahun:2021,
                            rkpd_ar_sub:0,
                            rkpd_ar_ag:0,
                            apbd_ar_sub:0,
                            apbd_ar_ag:0,
                            apbd_tot:0,
                            updated_at:null,
                            keterangan:''
                        }
    
                    }
            },
            mounted:function(){
            this.loadData();
        },
        watch:{
            "meta":{
                deep:true,
                handler:function(){
                    this.loadData();
                }
            }
        },
        computed:{
            tahun_add:function(){
                return  this.pilihan_tahun.filter(el=>{
                        return !(this.data.map(d=>{
                            return d.tahun+'';
                        })).includes(el);
                    });
            }
                    
        },
        methods:{
            persentage:function(val){
                    if(isNaN(val)){
                        return 0;
                    }else if((val+'').toUpperCase()=='INFINITE'){
                        return 0;
                    }else{
                        return window.NumberFormat(val);
                    }
                },
                addData:function(tahun){
                    var data=this.data_def;
                    data.tahun=parseInt(tahun);
                    this.data.push(JSON.parse(JSON.stringify(data)));
                    this.data=this.data.sort(function(a,b){
                        if (parseInt(a.tahun) > parseInt(b.tahun)) return -1;
                        if (parseInt(a.tahun) < parseInt(b.tahun)) return 1;
                    });
                },
                deleteItem:function(i){
                    this.data.splice(i,1);
                },
                drafTed:function(i){
                    this.data[i].updated_at=null;
                },
                saveItem:function(){
                    var self=this;
                    self.$isLoading(true);

                    req_ajax.post(this.setter,{
                        data:this.data,
                        meta:{
                            tahun:this.tahun,
                            kodepemda:this.meta.pemda.kodepemda,
                            kodebu:this.meta.bumdam.select.id,
                            tipe_bantuan:this.meta.bantuan.select.tipe_bantuan
                        }
                    }).then(res=>{
                        self.loadData();
                        self.$isLoading(false);
                    }).finally(function(){

                    });
                },
                loadData:function(){
                    var self=this;
                    req_ajax.post(this.getter,{
                        meta:{
                            tahun:this.tahun,
                            kodepemda:this.meta.pemda.kodepemda,
                            kodebu:this.meta.bumdam.select.id,
                            tipe_bantuan:this.meta.bantuan.select.tipe_bantuan
                        }
                    }).then(res=>{
                        if(res.data.code==200){
                            self.data=res.data.data;
                        }
                    }).finally(function(){


                    });
                }
        }
    };
        
       
    </script>  