<template>
    <div class="card">
        <div class="card-body">
            <div class="btn-group mb-1">
                <button class="btn btn-primary btn-sm" @click="addData(item)" :key="item" v-for='item in tahun_add'>
                    <i class="fa fa-plus"></i> {{item}}
                </button>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th rowspan="2">Aksi</th>
                                <th rowspan="2">Tahun</th>
                                <th colspan="2">Dukungan PEMDA</th>
                                <th colspan="1">BUMDAM</th>
                                <th rowspan="2">Keterangan</th>


                            </tr>
                            <tr>
                                <th>Penyertaan Modal (Rp.)</th>
                                <th>Infrastruktur (Rp.)</th>
                                <th>Laba Bersih (Rp.)</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr :key="i" v-for="item,i in data">
                                <td >
                                    <button @click="deleteItem(i)" class="btn btn-danger btn-sm" ><i class="fa fa-trash"></i></button>
                                </td>
                                <td>{{item.tahun}}</td>
                                <td style="min-width:100px;">
                                    <formulate-input type="number" step="0.1" v-model="item.modal" ></formulate-input>
                                    
                                </td >
                                <td style="min-width:100px;">
                                    <formulate-input type="number" step="0.1" v-model="item.modal_infra" ></formulate-input>
                                    
                                </td >
                                <td style="min-width:100px;">
                                    <formulate-input type="number" step="0.1" v-model="item.laba" ></formulate-input>
                                    
                                </td >
                                <td style="min-width:300px;">
                                    <textarea-autosize class="area-text"  @change="drafTed(i)"
                                            v-model="item.keterangan"
                                        />
                                    
                                </td >
                                </tr>
                        </tbody>   
                    </table>
                </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary btn-sm" @click="saveItem()">Simpan</button>
        </div>
    </div>
</template>


<script>
    export default {
            props:{
                meta:Object,
                getter:String,
                setter:String,
                tahun:Number,
                pilihan_tahun:Array
            },
            data:function(){
    
                    return {
                        data:[],
                        data_def:{
                            kodepemda:'',
                            tahun:2021,
                            kodebu:this.meta.bumdam.select.id,
                            modal:0,
                            modal_infra:0,
                            laba:0,
                            keterangan:''
                        }
    
                    }
            },
            mounted:function(){
            this.loadData();
        },
        watch:{
            "meta":{
                deep:true,
                handler:function(){
                    this.loadData();
                }
            }
        },
        computed:{
            tahun_add:function(){
                return  this.pilihan_tahun.filter(el=>{
                        return !(this.data.map(d=>{
                            return d.tahun+'';
                        })).includes(el);
                    });
            }
                    
        },
        methods:{
                addData:function(tahun){
                    var data=this.data_def;
                    data.tahun=parseInt(tahun);
                    this.data.push(JSON.parse(JSON.stringify(data)));
                    this.data=this.data.sort(function(a,b){
                        if (parseInt(a.tahun) > parseInt(b.tahun)) return -1;
                        if (parseInt(a.tahun) < parseInt(b.tahun)) return 1;
                    });
                },
                deleteItem:function(i){
                    this.data.splice(i,1);
                },
                saveItem:function(){
                    var self=this;
                    self.$isLoading(true);

                    req_ajax.post(this.setter,{
                        data:this.data,
                        meta:{
                            tahun:this.tahun,

                            kodepemda:this.meta.pemda.kodepemda,
                            kodebu:this.meta.bumdam.select.id,
                            tipe_bantuan:this.meta.bantuan.select.tipe_bantuan
                        }
                    }).then(res=>{
                        self.loadData();
                        self.$isLoading(false);
                    }).finally(function(){

                    });
                },
                loadData:function(){
                    var self=this;
                    req_ajax.post(this.getter,{
                        meta:{
                            tahun:this.tahun,

                            kodepemda:this.meta.pemda.kodepemda,
                            kodebu:this.meta.bumdam.select.id,
                            tipe_bantuan:this.meta.bantuan.select.tipe_bantuan
                        }
                    }).then(res=>{
                        if(res.data.code==200){
                            self.data=res.data.data;
                        }
                    }).finally(function(){


                    });
                }
        }
    };
        
       
    </script>  