<template>
    <div class="card">
        <div class="card-body">
           
            
                <template v-if="meta.bantuan.select.tipe_bantuan=='STIMULAN'">
                    <div class="">
                        <div class="btn-group mb-1">
                            <button class="btn btn-primary btn-sm" @click="addData(item)" :key="item" v-for='item in tahun_add'>
                                <i class="fa fa-plus"></i> {{item}}
                            </button>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th rowspan="4">Aksi</th>
                                        <th rowspan="4">Tahun</th>
                                    
                                        <th colspan="6">Pemenuhan DDUB Dalam Dukungan Serta Capaian SR</th>  
                                        <th colspan="3">Pemetaan Dukungan Pemda</th> 
                                        <th rowspan="3">Laba Bersih BUMDAM</th>  

                                        <th rowspan="4">Keterangan / Keterangan</th>

                                    </tr>
                                    <tr>
                                     


                                        <th colspan="2">Rencana</th>

                                        <th colspan="2">Realisasi</th>

                                        <th colspan="2" rowspan="2">Deviasi</th>
                                        <th rowspan="2">Penyertaan Modal</th>
                                        <th rowspan="2">Infrastruktur</th>
                                        <th rowspan="2">Jumlah</th>

                                    </tr> 
                                    <tr>
                                       
                                        <th>Jumlah</th>
                                        <th>SR</th>  
                                        <th>Jumlah</th>
                                        <th>SR</th> 
                                        
                                    </tr>    
                                    <tr>
                                       
                                        <th>RP.</th>

                                        <th>SR</th>
                                       
                                        <th>RP.</th>
                                        <th>SR</th>

                                        <th>RP.</th>

                                        <th>SR</th>
                                        <th>RP.</th>
                                        <th>RP.</th>
                                        <th>RP.</th>
                                       
                                        <th>RP.</th>
                                    </tr>
                                </thead>  
                                <tbody>
                                    <tr :key="i" v-for="item,i in data">
                                        <td >
                                            <button @click="deleteItem(i)" class="btn btn-danger btn-sm" ><i class="fa fa-trash"></i></button>
                                        </td>
                                        <td>{{item.tahun}}
                                          <span v-if="item.updated_at==null" class="badge badge-primary">Draf</span> 
                                        
                                        </td>
                                        
                                        <td style="min-width:250px;">
                                            <vue-numeric @change="drafTed(i)"  class="input-size-18" currency="Rp. " separator=" " v-model="item.rencana_ag"></vue-numeric>
                                        </td >
                                        <td style="min-width:150px;">
                                            <vue-numeric @change="drafTed(i)"  class="input-size-18" currency="" separator=" " v-model="item.rencana_sr"></vue-numeric>

                                        </td >
                                        
                                        <td style="min-width:150px;">
                                            <vue-numeric @change="drafTed(i)"  class="input-size-18" currency="Rp. " separator=" " v-model="item.realisasi_ag"></vue-numeric>

                                            
                                        </td >
                                        <td style="min-width:150px;">
                                            <vue-numeric @change="drafTed(i)"  class="input-size-18" currency="" separator=" " v-model="item.realisasi_sr"></vue-numeric>
                                        </td >
                                        <td style="min-width:150px;">
                                           <p>Rp. {{persetange(parseInt(item.rencana_ag) - parseInt(item.realisasi_ag))}}</p>
                                            
                                        </td >
                                        <td style="min-width:150px;">
                                            {{persetange(parseInt(item.rencana_sr) - parseInt(item.realisasi_sr))}}
                                        </td >
                                       
                                      
                                       
                                        <td style="min-width:250px;">
                                            <vue-numeric @change="drafTed(i)"  class="input-size-18" currency="Rp. " separator=" " v-model="item.rencana_modal"></vue-numeric>

                                        </td >
                                        <td style="min-width:150px;">
                                            <vue-numeric @change="drafTed(i)"  class="input-size-18" currency="Rp. " separator=" " v-model="item.rencana_modal_infra"></vue-numeric>

                                        </td >
                                        
                                        <td style="min-width:150px;">
                                           <p>Rp. {{persetange(parseInt(item.rencana_modal)+parseInt(item.rencana_modal_infra))}}</p>
                                        </td>
                                        <td style="min-width:150px;">
                                            <vue-numeric v-bind:minus="true" @change="drafTed(i)"  class="input-size-18" currency="Rp. " separator=" " v-model="item.laba_bersih"></vue-numeric>
                                            
                                            
                                        </td >

                                        <td style="min-width:300px;">
                                            <textarea-autosize  class="area-text" @change="drafTed(i)"
                                            v-model="item.keterangan"
                                        />
                                            
                                        </td >
                                    </tr>
                                </tbody> 
                            </table>
                        </div>
                        
                     </div>
                </template>
                <template v-if="meta.bantuan.select.tipe_bantuan=='PENDAMPING'">
                    <div class="">
                        <div class="btn-group mb-1">
                            <button class="btn btn-primary btn-sm" @click="addData(item)" :key="item" v-for='item in tahun_add'>
                                <i class="fa fa-plus"></i> {{item}}
                            </button>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th rowspan="4">Aksi</th>
                                        <th rowspan="4">Tahun</th>
                                        <th colspan="6">Pemenuhan Dana Pendamping Dalam Dukungan Serta Capaian SR</th>  
                                        <th colspan="3">Pemetaan Dukungan Pemda</th> 
                                        <th rowspan="3">Laba Bersih BUMDAM</th>  
                                        <th rowspan="4">Keterangan / Lokasi</th>

                                    </tr>
                                    <tr>
                                        <th colspan="2">Rencana</th>
                                        <th colspan="2">Realisasi</th>
                                        <th colspan="2" rowspan="2">Deviasi</th>
                                        <th rowspan="2">Penyertaan Modal</th>
                                        <th rowspan="2">Infrastruktur</th>
                                        <th rowspan="2">Jumlah</th>

                                    </tr> 
                                    <tr>
                                       
                                        <th>Jumlah</th>
                                        <th>SR</th>  
                                        <th>Jumlah</th>
                                        <th>SR</th> 
                                        
                                    </tr>    
                                    <tr>
                                       
                                        <th>RP.</th>

                                        <th>SR</th>
                                       
                                        <th>RP.</th>
                                        <th>SR</th>

                                        <th>RP.</th>

                                        <th>SR</th>
                                        <th>RP.</th>
                                        <th>RP.</th>
                                        <th>RP.</th>
                                       
                                        <th>RP.</th>
                                    </tr>
                                </thead>  
                                <tbody>
                                    <tr :key="i" v-for="item,i in data">
                                        <td >
                                            <button @click="deleteItem(i)" class="btn btn-danger btn-sm" ><i class="fa fa-trash"></i></button>
                                        </td>
                                        <td>{{item.tahun}}
                                          <span v-if="item.updated_at==null" class="badge badge-primary">Draf</span> 
                                        
                                        </td>
                                        
                                        <td style="min-width:250px;">
                                            <vue-numeric @change="drafTed(i)"  class="input-size-18" currency="Rp. " separator=" " v-model="item.rencana_ag"></vue-numeric>

                            
                                        </td >
                                        <td style="min-width:150px;">
                                            <vue-numeric @change="drafTed(i)"  class="input-size-18" currency="" separator=" " v-model="item.rencana_sr"></vue-numeric>

                                        </td >
                                        
                                        <td style="min-width:150px;">
                                            <vue-numeric @change="drafTed(i)"  class="input-size-18" currency="Rp. " separator=" " v-model="item.realisasi_ag"></vue-numeric>

                                            
                                        </td >
                                        <td style="min-width:150px;">
                                            <vue-numeric @change="drafTed(i)"  class="input-size-18" currency="" separator=" " v-model="item.realisasi_sr"></vue-numeric>
                                        </td >
                                        <td style="min-width:150px;">
                                           <p>Rp. {{persetange(parseInt(item.rencana_ag)-parseInt(item.realisasi_ag))}}</p>
                                            
                                        </td >
                                        <td style="min-width:150px;">
                                            {{persetange(parseInt(item.rencana_sr) - parseInt(item.realisasi_sr))}}
                                        </td >
                                       
                                      
                                       
                                        <td style="min-width:250px;">
                                            <vue-numeric @change="drafTed(i)"  class="input-size-18" currency="Rp. " separator=" " v-model="item.rencana_modal"></vue-numeric>

                                        </td >
                                        <td style="min-width:150px;">
                                            <vue-numeric @change="drafTed(i)"  class="input-size-18" currency="Rp. " separator=" " v-model="item.rencana_modal_infra"></vue-numeric>

                                        </td >
                                        
                                        <td style="min-width:150px;">
                                           <p>Rp. {{persetange(parseInt(item.rencana_modal)+parseInt(item.rencana_modal_infra))}}</p>
                                        </td>
                                        <td style="min-width:150px;">
                                            <vue-numeric v-bind:minus="true" @change="drafTed(i)"  class="input-size-18" currency="Rp. " separator=" " v-model="item.laba_bersih"></vue-numeric>
                                            
                                            
                                        </td >

                                        <td style="min-width:300px;">
                                            <textarea-autosize class="area-text"  @change="drafTed(i)"
                                            v-model="item.keterangan"
                                        />
                                            
                                        </td >
                                    </tr>
                                </tbody> 
                            </table>
                        </div>
                        
                     </div>
                </template>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary btn-sm" @click="saveItem()">Simpan</button>
        </div>
    </div>
                

    
</template>

<script>
    export default {
            props:{
                meta:Object,
                tahun:Number,
                getter:String,
                setter:String,
                pilihan_tahun:Array
            },
            data:function(){
    
                    return {
                        data:[],
                        data_def:{
                            kodepemda:'',
                            tahun:2021,
                            rencana_modal:0,
                            rencana_modal_infra:0,
                            rencana_modal_lainya:0,
                            rencana_sr:0,

                            rencana_ag:0,
                            realisasi_ag:0,
                            realisasi_sr:0,

                            laba_bersih:0,

                           
                            updated_at:null,
                            keterangan:''
                        }
    
                    }
            },
            mounted:function(){
            this.loadData();
        },
        watch:{
            "meta":{
                deep:true,
                handler:function(){
                    this.loadData();
                }
            }
        },
        computed:{
            tahun_add:function(){
                return  this.pilihan_tahun.filter(el=>{
                        return !(this.data.map(d=>{
                            return d.tahun+'';
                        })).includes(el);
                    });
            }
                    
        },
        methods:{
            drafTed:function(i){
                    this.data[i].updated_at=null;
                },
            persetange:function(val){
                    if(isNaN(val)){
                        return 0;
                    }else if((val+'').toUpperCase()=='INFINITE'){
                        return 0;
                    }else{
                        return window.NumberFormat(val);
                    }
                },
                addData:function(tahun){
                    var data=this.data_def;
                    data.tahun=parseInt(tahun);
                    this.data.push(JSON.parse(JSON.stringify(data)));
                    this.data=this.data.sort(function(a,b){
                        if (parseInt(a.tahun) > parseInt(b.tahun)) return -1;
                        if (parseInt(a.tahun) < parseInt(b.tahun)) return 1;
                    });
                },
                deleteItem:function(i){
                    this.data.splice(i,1);
                },
                saveItem:function(){
                    var self=this;
                    self.$isLoading(true);

                    req_ajax.post(this.setter,{
                        data:this.data,
                        meta:{
                            tahun:this.tahun,
                            kodepemda:this.meta.pemda.kodepemda,
                            kodebu:this.meta.bumdam.select.id,
                            tipe_bantuan:this.meta.bantuan.select.tipe_bantuan
                        }
                    }).then(res=>{
                        self.loadData();
                        self.$isLoading(false);
                    }).finally(function(){

                    });
                },
                loadData:function(){
                    var self=this;
                    req_ajax.post(this.getter,{
                        meta:{
                            tahun:this.tahun,

                            kodepemda:this.meta.pemda.kodepemda,
                            kodebu:this.meta.bumdam.select.id,
                            tipe_bantuan:this.meta.bantuan.select.tipe_bantuan
                        }
                    }).then(res=>{
                        if(res.data.code==200){
                            self.data=res.data.data;
                        }
                    }).finally(function(){


                    });
                }
        }
    };
        
       
    </script>  