<template>
    <div class="card">
        <div class="card-header" v-if="!ba" >
            <h5>{{meta.nama_pemda}}</h5> 
        </div> 
        <div class="card-body">
            <div class="btn-group mb-1" v-if="!ba" >
                <button  class="btn btn-primary btn-sm" @click="addData(item)" :key="item" v-for='item in tahun_add'>
                    <i class="fa fa-plus"></i> {{item}}
                </button>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th  v-if="!ba" rowspan="4">AKSI</th>
                                <th rowspan="4">Tahun</th>
                                <th rowspan="4">Jumlah KK</th>
                                <th colspan="12">Air Minum Layak</th>
                                <th rowspan="2" colspan="2"></th>
                                <th rowspan="2" style="min-width:300px;">Keterangan</th>
            
                            </tr>
                            <tr>
                                <th colspan="6">Jaringan Perpipaan</th>
                                <th colspan="2" >Total JP</th>
                    
                                <th  colspan="2" rowspan="1">Bukan Jaringan Perpipaan</th>
                                <th colspan="2">Pemenuhan SPM Air Minum</th>
            
                            </tr>
                            <tr>
                                <th class="bg-c1" colspan="3">Kontribusi JP BUMDAM</th>
                                <th class="bg-c2"  colspan="3">Kontribusi JP Non BUMDAM</th>
                                <th class="bg-p-1" rowspan="2">Total JP</th>
                                <th class="bg-p-1" rowspan="2">Total SR</th>

                                <th class="bg-c3" colspan="2">BJP</th>
                                <th   class="bg-c4" colspan="2" >Air Minum Layak</th>
                                <th class="bg-negasi" colspan="2">Belum Terlayani</th>
                                <th rowspan="2" style="min-width:300px;"></th>



            
                            </tr>
                            <tr>
                                <th class="bg-c1"  style="min-width:150px;">KK</th>
                                <th class="bg-c1"  style="min-width:150px;">SR</th>
                                <th class="bg-c1"   style="min-width:150px;" >% (KK)</th>
                                
                                <th class="bg-c2"  style="min-width:150px;">KK</th>
                                <th class="bg-c2"  style="min-width:150px;">SR</th>
                                <th class="bg-c2"  style="min-width:150px;" >% (KK)</th>


                                <th class="bg-c3" style="min-width:150px;" >KK</th>
                                <th class="bg-c3" style="min-width:150px;">%</th>

                                <th class="bg-c4" style="min-width:150px;">KK</th>
                                <th class="bg-c4"  style="min-width:150px;">%</th>

                                <th class="bg-negasi" style="min-width:150px;">KK</th>
                                <th class="bg-negasi" style="min-width:150px;">%</th>
            
                            </tr>
                        </thead>
                        <tbody>
                            <tr :key="i" v-for="item,i in data">
                                <td  v-if="!ba">
                                    <button @click="deleteItem(i)" class="btn btn-danger btn-sm" ><i class="fa fa-trash"></i></button>
                                </td>
                                <td>{{item.tahun}} 
                                    <span v-if="item.updated_at==null" class="badge badge-primary">Draf</span> </td>

                                <td style="min-width:150px;">
                                    <vue-numeric @change="drafTed(i)"  class="input-size-18" currency="" separator=" " v-model="item.kk"></vue-numeric>
                                    
                                    <p class="m-0" v-if="showDataRef('dukcapil',item.tahun+'_'+item.kodepemda)"><small>Dukcapil : {{persentage(parseInt(showDataRef('dukcapil',item.tahun+'_'+item.kodepemda)))}} KK</small></p>   
                                    
                                </td>
                               
                                <td class="bg-c1-data"  style="min-width:150px;">

                                    <vue-numeric @change="drafTed(i)"  class="input-size-18" currency="" separator=" " v-model="item.bumdam_kk"></vue-numeric>
                                    
                                   
                                    
                                </td>
                                <td class="bg-c1-data"  style="min-width:150px;">
                                    <vue-numeric @change="drafTed(i)"  class="input-size-18" currency="" separator=" " v-model="item.bumdam_sr"></vue-numeric>
                                </td>
                                <td  class="bg-c1-data"   style="min-width:150px;">
                                    {{persentage((parseInt(item.bumdam_kk)/parseInt(item.kk))*100)}} %
                                </td >
                               
                                <td class="bg-c2-data" style="min-width:150px;">
                                    <vue-numeric @change="drafTed(i)"  class="input-size-18" currency="" separator=" " v-model="item.nonbumdam_kk"></vue-numeric>

                                    
                                </td>
                               
                                <td class="bg-c2-data"  style="min-width:150px;">
                                    <vue-numeric @change="drafTed(i)"  class="input-size-18" currency="" separator=" " v-model="item.nonbumdam_sr"></vue-numeric>
                                    

                                </td>
                                <td class="bg-c2-data"  style="min-width:150px;">
                                    {{persentage((parseInt(item.nonbumdam_kk)/parseInt(item.kk))*100)}} %
            
                                </td>
                                <td class="bg-p-1-data" >
                                    {{persentage((parseInt(item.bumdam_kk)+parseInt(item.nonbumdam_kk)))}}
                                </td>
                                <td class="bg-p-1-data" >
                                    {{persentage((parseInt(item.bumdam_sr)+parseInt(item.nonbumdam_sr)))}}
                                    <p class="m-0" v-if="showDataRef('sicalmer',item.tahun+'_'+item.kodepemda)"><small>Sicalmer : {{persentage(parseInt(showDataRef('sicalmer',item.tahun+'_'+item.kodepemda)))}} SR</small></p>   

                                </td>
                               
                                <td class="bg-c3-data" style="min-width:150px;">
                                    <vue-numeric @change="drafTed(i)"  class="input-size-18" currency="" separator=" " v-model="item.bjp_kk"></vue-numeric>

            
                                </td>
                                <td class="bg-c3-data" style="min-width:150px;">
                                   
                                    {{persentage((parseInt(item.bjp_kk)/parseInt(item.kk))*100)}} %
            
                                </td>
                              
                                
                                <td class="bg-c4-data"  style="min-width:150px;">
                                    {{persentage(parseInt(item.bumdam_kk)+parseInt(item.nonbumdam_kk)+parseInt(item.bjp_kk))}}
            
                                </td>
                                <td class="bg-c4-data"  style="min-width:150px;">
                                    {{persentage(((parseInt(item.bumdam_kk)+parseInt(item.nonbumdam_kk)+parseInt(item.bjp_kk))/parseInt(item.kk)*100))}} %
            
                                </td>
                                <td class="bg-negasi-data" style="width:150px;">
                                    {{persentage(parseInt(item.kk) - (parseInt(item.bumdam_kk)+parseInt(item.nonbumdam_kk)+parseInt(item.bjp_kk)))}}
            
                                </td>
                                <td class="bg-negasi-data" style="width:10px;">
                                    {{persentage(((parseInt(item.kk) - (parseInt(item.bumdam_kk)+parseInt(item.nonbumdam_kk)+parseInt(item.bjp_kk)))/parseInt(item.kk))*100)}} %
            
                                </td>
                                <td   style="width:300px;">
                                    <textarea-autosize class="area-text"  @change="drafTed(i)"
                                            v-model="item.keterangan"
                                        />
                                </td>  

                                
            
                            </tr>
                        </tbody>
                    </table>
            </div>

        </div>
        <div class="card-footer">
            <button class="btn btn-primary btn-sm" @click="saveItem">Simpan</button>  
        </div> 
    </div> 

</template>

<script>
import { numberFormat } from 'highcharts';


export default {
   props:{
    replaceRoute:String,
    meta:Object,
    getter:String,
    setter:String,
    pilihan_tahun:Array,
    ba:{
        type:Boolean,
        default:false
    },
    tahun:Number,
    dataRef:Object
   },
   data:function(){

    return   {
                    data:[],
                    data_def:{
                        kodepemda:'',
                        tahun:this.tahun,
                        kk:0,
                        bumdam_kk:0,
                        bumdam_sr:0,
                        nonbumdam_kk:0,
                        nonbumdam_sr:0,
                        bjp_kk:0,
                        updated_at:null,
                        keterangan:''
                    }

                }
   },
   computed:{
            tahun_add:function(){
                return  this.pilihan_tahun.filter(el=>{
                        return !(this.data.map(d=>{
                            return d.tahun+'';
                        })).includes(el);
                    });
            }
                    
    },
    mounted:function(){
        this.loadData();
    },
     methods:{
        showDataRef:function(key,data){
                return window.refs_data[key][data]!=undefined?window.refs_data[key][data]:null;
            },
        drafTed:function(i){
                    this.data[i].updated_at=null;
                },
        persentage:function(val){
                    if(isNaN(val)){
                        return 0;
                    }else if((val+'').toUpperCase()=='INFINITE'){
                        return 0;
                    }else{
                        return window.NumberFormat(val);
                    }
                },
              
                addData:function(tahun){
                    var data=this.data_def;
                    data.tahun=parseInt(tahun);
                    data['kodepemda']=this.meta.kodepemda;

                    this.data.push(JSON.parse(JSON.stringify(data)));
                    this.data=this.data.sort(function(a,b){
                        if (parseInt(a.tahun) > parseInt(b.tahun)) return -1;
                        if (parseInt(a.tahun) < parseInt(b.tahun)) return 1;
                    });
                },
                deleteItem:function(i){
                    this.data.splice(i,1);
                },
                saveItem:function(){
                    var self=this;
                    self.$isLoading(true);

                    req_ajax.post(this.setter.replace(this.replaceRoute,'/'+this.meta.kodepemda+'/'),{
                        data:this.data,
                        meta:{
                            tahun:this.tahun,
                            kodepemda:this.meta.kodepemda,
                        }
                    }).then(res=>{
                        self.loadData();
                        self.$isLoading(false);
                    }).finally(function(){

                    });
                },
                loadData:function(){
                    var self=this;
                    req_ajax.post(this.getter.replace(this.replaceRoute,'/'+this.meta.kodepemda+'/'),{
                        meta:{
                            tahun:this.tahun,
                            kodepemda:this.meta.kodepemda,
                        },
                        self_data:true,

                    }).then(res=>{
                        if(res.data.code==200){
                            self.data=res.data.data;
                        }
                    }).finally(function(){


                    });
                }
        }
}
</script>
