<template>
    <div class="card">
        <div class="card-body">
            
            <div class="table-responsive">
                <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th colspan="6">RC PEMDA Dalam Komitmen dan Konsistensi Dalam Program NUWSP</th>
                                <th rowspan="3">Keterangan</th>

                            </tr>
                            <tr>
                                <th style="max-width:400px;" rowspan="2">Item</th>
                                <th colspan="5">Indentifikasi</th>
                            </tr>
                            <tr>
                                <th>Ada/Tidak Ada</th>
                                <th>Tanggal Pemenuhan </th>
                                <th>Rencana Pemenuhan </th>

                                <th>Isu Strategis / Permasalahan</th>
                                <th>RKTL</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="max-width:400px;">
                                    RC-5; RKAP BUMDAM, Rencana Bisnis BUMDAM, dan RISPAM Kabupaten/Kota yang sudah mengakomodir usulan kegiatan NUWSP

                                </td>
                                <td>
                                    <formulate-input type="select" :options="option_item" @change="pilihanSub('rc5',item.subsidi)"  v-model="data.rc5" ></formulate-input>
                                </td> 
                                <td>
                                    <formulate-input type="date" v-if="data.rc5==1" v-model="data.rc5_date_done"></formulate-input>  

                                </td>
                                <td>
                                    <formulate-input type="date" v-if="data.rc5==0" v-model="data.rc5_date_target"></formulate-input>    

                                </td>
                                <td>
                                        <textarea-autosize class="area-text"
                                            v-model="data.rc5_isu"
                                        />

                                    </td> 
                                    <td>
                                        <textarea-autosize class="area-text"
                                            v-model="data.rc5_rktl"
                                        />
                                    </td> 
                                    <td>
                                        <textarea-autosize class="area-text"
                                            v-model="data.rc5_keterangan"
                                        />
                                    </td> 
                            </tr>
                            <tr>
                                <td style="max-width:400px;">
                                    RC-7; Dana Daerah Urusan Bersama (DDUB)
                                </td>
                                <td>
                                    <formulate-input type="select" :options="option_item" @change="pilihanSub('rc7',item.subsidi)"  v-model="data.rc7" ></formulate-input>
                                </td> 
                                <td>
                                    <formulate-input type="date" v-if="data.rc7==1" v-model="data.rc7_date_done"></formulate-input>  

                                </td>
                                <td>
                                    <formulate-input type="date" v-if="data.rc7==0" v-model="data.rc7_date_target"></formulate-input>    

                                </td>
                                
                                <td>
                                        <textarea-autosize class="area-text"
                                            v-model="data.rc7_isu"
                                        />

                                    </td> 
                                    <td>
                                        <textarea-autosize class="area-text"
                                            v-model="data.rc7_rktl"
                                        />
                                    </td> 
                                    <td>
                                        <textarea-autosize class="area-text"
                                            v-model="data.rc7_keterangan"
                                        />
                                    </td> 
                            </tr>
 
                            <tr>
                                <td style="max-width:400px;">
                                    RC-12; Surat Pernyataan Komitmen penyediaan dana pembangunan Jaringan Distribusi Sekunder dan Tersier, disetujui oleh Bupati/Walikota dan Direktur BUMDAM
                        </td>
                        <td>
                            <formulate-input type="select" :options="option_item" @change="pilihanSub('rc12',item.subsidi)"  v-model="data.rc12" ></formulate-input>
                        </td> 
                        <td>
                            <formulate-input type="date" v-if="data.rc12==1" v-model="data.rc12_date_done"></formulate-input>  
                        </td>
                        <td>
                            <formulate-input type="date" v-if="data.rc12==0" v-model="data.rc12_date_target"></formulate-input>    
                        </td>
                        <td>
                            <textarea-autosize class="area-text"
                                v-model="data.rc12_isu"
                            />

                        </td> 
                        <td>
                            <textarea-autosize class="area-text"
                                v-model="data.rc12_rktl"
                            />
                        </td> 
                        <td>
                            <textarea-autosize class="area-text"
                                v-model="data.rc12_keterangan"
                            />
                        </td> 
                    </tr>

                    <tr>
                        <td style="max-width:400px;">
                            RC-14; Surat Kesediaan Menerima Hibah Barang Milik Negara (BMN)
                        </td>
                        <td>
                            <formulate-input type="select" :options="option_item" @change="pilihanSub('rc4',item.subsidi)"  v-model="data.rc14" ></formulate-input>
                        </td> 
                        <td>
                            <formulate-input type="date" v-if="data.rc14==1" v-model="data.rc14_date_done"></formulate-input>  
                        </td>
                        <td>
                            <formulate-input type="date" v-if="data.rc14==0" v-model="data.rc14_date_target"></formulate-input>    
                        </td>
                        <td>
                            <textarea-autosize class="area-text"
                                v-model="data.rc14_isu"
                            />

                        </td> 
                        <td>
                            <textarea-autosize class="area-text"
                                v-model="data.rc14_rktl"
                            />
                        </td> 
                        <td>
                            <textarea-autosize class="area-text"
                                v-model="data.rc14_keterangan"
                            />
                        </td> 
                    </tr>
                    <tr>
                        <td style="max-width:400px;">
                            RC-16; Salinan Dokumen Pelaksanaan Anggaran (DPA) / Peraturan Daerah Penyertaan Modal / RKAP PDAM Tahun Anggaran berjalan untuk kepastian pelaksanaan kegiatan DDUB (Bantuan Stimulan) dan/atau pembangunan Jaringan Distribusi Bagi (JDB) (Bantuan Pendamping)
                        </td>
                        <td>
                            <formulate-input type="select" :options="option_item" @change="pilihanSub('rc16',item.subsidi)"  v-model="data.rc16" ></formulate-input>
                        </td> 
                        <td>
                            <formulate-input type="date" v-if="data.rc16==1" v-model="data.rc16_date_done"></formulate-input>  
                        </td>
                        <td>
                            <formulate-input type="date" v-if="data.rc16==0" v-model="data.rc16_date_target"></formulate-input>    
                        </td>
                        <td>
                            <textarea-autosize class="area-text"
                                v-model="data.rc16_isu"
                            />

                        </td> 
                        <td>
                            <textarea-autosize class="area-text"
                                v-model="data.rc16_rktl"
                            />
                        </td> 
                        <td>
                            <textarea-autosize class="area-text"
                                v-model="data.rc16_keterangan"
                            />
                        </td> 
                    </tr>
                    <tr>
                        <td style="max-width:400px;">
                            RC-22; Dokumen lengkap perjanjian Kerjasama antara BUMDAM dengan pihak ketiga
                            
                        </td>
                        <td>
                            <formulate-input type="select" :options="option_item" @change="pilihanSub('rc22',item.subsidi)"  v-model="data.rc22" ></formulate-input>
                        </td> 
                        <td>
                            <formulate-input type="date" v-if="data.rc22==1" v-model="data.rc22_date_done"></formulate-input>  
                        </td>
                        <td>
                            <formulate-input type="date" v-if="data.rc22==0" v-model="data.rc22_date_target"></formulate-input>    
                        </td>
                        <td>
                            <textarea-autosize class="area-text"
                                v-model="data.rc22_isu"
                            />

                        </td> 
                        <td>
                            <textarea-autosize class="area-text"
                                v-model="data.rc22_rktl"
                            />
                        </td> 
                        <td>
                            <textarea-autosize class="area-text"
                                v-model="data.rc22_keterangan"
                            />
                        </td> 
                    </tr>
                        </tbody>
                    </table>
                </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary btn-sm" @click="saveItem()">Simpan</button>
        </div>
    </div>
        
</template>


<script>
    export default {
            props:{
                meta:Object,
                getter:String,
                setter:String,
                tahun:Number,
                pilihan_tahun:Array
            },
            data:function(){
    
                    return {
                        option_item:[
                                {
                                    label:'Ada',
                                    value:1,
                                },
                                {
                                    label:'Tidak Ada',
                                    value:0,
                                }
                        ],
                        data:{
                            rc5:0,
                            rc5_date_done:null,
                            rc5_date_target:null,
                            rc5_lampiran:[],
                            rc5_isu:'',
                            rc5_rktl:'',
                            rc5_keterangan:'',

                            rc7:0,
                            rc7_date_done:null,
                            rc7_date_target:null,
                            rc7_lampiran:[],
                            rc7_isu:'',
                            rc7_rktl:'',
                            rc7_keterangan:'',

                            rc12:0,
                            rc12_date_done:null,
                            rc12_date_target:null,
                            rc12_lampiran:[],
                            rc12_isu:'',
                            rc12_rktl:'',
                            rc12_keterangan:'',

                            rc14:0,
                            rc14_date_done:null,
                            rc14_date_target:null,
                            rc14_lampiran:[],
                            rc14_isu:'',
                            rc14_rktl:'',
                            rc14_keterangan:'',

                            rc16:0,
                            rc16_date_done:null,
                            rc16_date_target:null,
                            rc16_lampiran:[],
                            rc16_isu:'',
                            rc16_rktl:'',
                            rc16_keterangan:'',

                            rc22:0,
                            rc22_date_done:null,
                            rc22_date_target:null,
                            rc22_lampiran:[],
                            rc22_isu:'',
                            rc22_rktl:'',
                            rc22_keterangan:'',





                        },
                        data_def:{
                            kodepemda:'',
                            tahun:2021,
                            rkpd_a_jum_sub:0,
                            rkpd_a_pagu:0,
                            apbd_a_jum_sub:0,
                            apbd_a_ang:0,
                            sink_a_jum_sub:0,
                            gap_a_apbd_rkpd:0,
                            apbd_total:0,
                            abpd_spm:0,
                            keterangan:''
                        }
    
                    }
            },
            mounted:function(){
            this.loadData();
        },
        watch:{
            "meta":{
                deep:true,
                handler:function(){
                    this.loadData();
                }
            }
        },
        computed:{
            tahun_add:function(){
                return  this.pilihan_tahun.filter(el=>{
                        return !(this.data.map(d=>{
                            return d.tahun+'';
                        })).includes(el);
                    });
            }
                    
        },
        methods:{
                addData:function(tahun){
                    var data=this.data_def;
                    data.tahun=parseInt(tahun);
                    this.data.push(JSON.parse(JSON.stringify(data)));
                },
                deleteItem:function(i){
                    this.data.splice(i,1);
                },
                saveItem:function(){
                    var self=this;
                    self.$isLoading(true);

                    req_ajax.post(this.setter,{
                        data:this.data,
                        meta:{
                            tahun:this.tahun,

                            kodepemda:this.meta.pemda.kodepemda,
                            kodebu:this.meta.bumdam.select.id,
                            tipe_bantuan:this.meta.bantuan.select.tipe_bantuan
                        }
                    }).then(res=>{
                        self.loadData();
                        self.$isLoading(false);
                    }).finally(function(){

                    });
                },
                loadData:function(){
                    var self=this;
                    req_ajax.post(this.getter,{
                        meta:{
                            tahun:this.tahun,
                            kodepemda:this.meta.pemda.kodepemda,
                            kodebu:this.meta.bumdam.select.id,
                            tipe_bantuan:this.meta.bantuan.select.tipe_bantuan
                        }
                    }).then(res=>{
                        if(res.data.code==200){
                           if(res.data.data){
                            res.data.data.rc5= res.data.data.rc5?1:0;
                            res.data.data.rc7= res.data.data.rc7?1:0;
                            res.data.data.rc12= res.data.data.rc12?1:0;
                            res.data.data.rc14= res.data.data.rc14?1:0;
                            res.data.data.rc22= res.data.data.rc22?1:0;

                            res.data.data.rc16= res.data.data.rc16?1:0;

                            Object.assign(self.data,res.data.data);
                           }
                        }
                    }).finally(function(){


                    });
                }
        }
    };
        
       
    </script>  