<!-- basis regional -->
<!--  -->
<template>
<div>

    <div class="table table-responsive mt-2">
        <div class="bg-white mb-2 shadow rounded p-2">
            <div class="d-flex">
                <span class=""><b>Tema Pelatihan :</b> {{Object.keys(countTema_pelatihan).length}} Tema,</span>
                <span class="ml-2"><b>Nama Pelatihan :</b> {{Object.values(countTema_pelatihan).map(el=>el.length).reduce((a,b)=>a+b,0)}} Pelatihan</span>
            </div>
            <hr>

            <div class="d-flex">
                <div class="" v-if=" form.tema && form.kegiatan && permissions.includes('dts.'+dataset.id+':edit-data')">
                <br>
                <button class="btn btn-warning btn-sm"  @click="showFormEdit()"><i class="fa fa-pen"></i> Edit Data</button>
                </div>
                <div class="col-3">
                    <div class="form-group mb-0">
                        <label for="">Tema Pelatihan</label>
                        <select name="" class="form-control" id="" v-model="form.tema">
                            <option :value="item.name" :key="i" v-for="item,i in comtema">{{item.name}}</option>
                        </select>
                    </div>
                    
                </div>
                <div class="col-3">
                    <label for="">Nama Kegiatan</label>
                        <v-select label="nama_pelatihan" :options="option_kegiatan" v-model="form.kegiatan"></v-select>
                        
                </div>
                <div class="col-3">
                    <div class="form-group mb-0">
                        <label for="">Cari Pemda</label>
                        <input type="text" class="form-control">
                    </div>
                    
                </div>
            
            </div>
            <div class="p-2  mb-2 rounded border border-primary mt-2" v-if="form.kegiatan">
            <small>Pelaksanaan : {{form.kegiatan.tanggal_mulai +' - '+form.kegiatan.tanggal_selesai}}</small>
            <p><span class="badge ">{{form.kegiatan.pelaksana}}</span></p>
             </div>  
            
        </div> 
        <table class="table table-bordered rounded bg-white" ref="tb_data">
            <thead class="thead-dark">
                <tr>
                    <th>Aksi</th>
                    <th>Catatan Data</th>
                    <th>Status Data</th>
                    <th>Nama Pemda</th>
                    <th v-if="!form.kegiatan">Jumlah Kegiatan</th>
                    <th v-if="form.kegiatan">Jumlah Peserta Laki Laki</th>
                    <th  v-if="form.kegiatan">Jumlah Peserta Laki Laki Disable</th>
                    <th  v-if="form.kegiatan">Jumlah Perempuan</th>
                    <th  v-if="form.kegiatan">Jumlah Peserta Perempuan Disable</th>
                
                </tr>
            </thead>
            <tbody>
                <template >
                <tr v-bind:key="i+'s'"  v-for="(item,i) in com_data" >
                    <td>
                        <div class="btn-group btn-group-sm">
                            <template v-if="item.status_data && item.exist_data">
                                <template v-if="item.status_data==1">
                                <button v-if="permissions.includes('dts.'+dataset.id+':validate-data')" class="btn btn-primary"><i class="fa fa-check-double"></i> Validasi</button>
                                <button v-if="permissions.includes('dts.'+dataset.id+':rollback-data')" class="btn bg-navy"><i class="fa fa-reload"></i> Roleback</button>

                                </template>
                                <template v-else-if="item.status_data==2">
                                <button v-if="permissions.includes('dts.'+dataset.id+':rollback-data')" class="btn bg-navy"><i class="fa fa-reload"></i> Roleback</button>
                                <button v-if="permissions.includes('dts.'+dataset.id+':edit-data')" class="btn bg-warning"  @click="loadEditForm(item)"><i class="fa fa-pen" ></i> Edit </button>


                                </template>
                                <template v-else>
                                    <button class="btn btn-danger"  v-if="permissions.includes('dts.'+dataset.id+':edit-data')"><i class="fa fa-trash"></i> Hapus</button>
                                    <button class="btn btn-warning"  v-if="permissions.includes('dts.'+dataset.id+':edit-data')" ><i class="fa fa-upload"></i> File Lampiran</button>
                                    <button v-if="permissions.includes('dts.'+dataset.id+':verified-data')" class="btn btn-success"><i class="fa fa-check"></i> Verifikasi</button>

                                </template>
                            </template>
                            
                            <template v-else-if="item.exist_data && ![1,2].includes(item.status)">
                                
                                <button class="btn btn-danger"  v-if="permissions.includes('dts.'+dataset.id+':edit-data')"><i class="fa fa-trash"></i> Hapus</button>
                                    <button class="btn btn-warning"  v-if="permissions.includes('dts.'+dataset.id+':edit-data')" ><i class="fa fa-upload"></i> File Lampiran</button>
                                    <button v-if="permissions.includes('dts.'+dataset.id+':verified-data')" class="btn btn-success"><i class="fa fa-check"></i> Verifikasi</button>
                                    <button v-if="permissions.includes('dts.'+dataset.id+':edit-data')" class="btn bg-warning" @click="loadEditForm(item)" ><i class="fa fa-pen"></i> Edit</button>

                            </template>
                            <template v-else>
                                {{item}}
                            </template>
                        </div>

                    </td>
                    <td class="text-center">
                        <button v-if="item.exist_data && (item.keterangan.length>0)" class="btn btn-warning btn sm rounded-circle">
                            <i  class="text-center text-danger fa fa-bell"></i>
                        </button>
                    </td>
                    <td>
                        <template v-if="item.status_data && item.exist_data">
                            <template v-if="item.status_data==1">
                                <small class="badge badge-success">Terverifikasi {{showedDate(item.update_status)}}</small>
                                <small>Update Data : {{showedDate(item.update_content)}}</small>
                            </template>
                            <template v-else-if="item.status_data==2">
                                <small class="badge badge-primary">Tervalidasi {{showedDate(item.update_status)}}</small>
                            <small>Update Data : {{showedDate(item.update_content)}}</small>

                            </template>
                            <template v-else>
                                <small class="badge badge-warning">Terinput</small>
                            <small>Update Data : {{showedDate(item.update_content)}}</small>
                                
                            </template>
                        </template>
                        <template v-else>
                                <span class="badge badge-gray bg-dark">Belum Terdapat Status</span>
                        </template>
                    </td>
                
                    <td>{{item.label}}</td>
                    <td v-if="!form.kegiatan">{{item.count}} Kegiatan</td>
                    <td v-if="form.kegiatan">{{item.data[0].laki_laki}} Orang</td>
                    <td v-if="form.kegiatan">{{item.data[0].laki_laki_disable}} Orang</td>
                    <td v-if="form.kegiatan">{{item.data[0].perempuan}} Orang</td>
                    <td v-if="form.kegiatan">{{item.data[0].perempuan_disable}} Orang</td>





                    <!-- <td>{{showedValue(item,'lampiran','file')}}</td>


                    <td>{{item.tema}}</td>
                    <td>{{showedValue(item,'laki_laki','number')}}</td>
                    <td>{{showedValue(item,'laki_laki_disable','number')}}</td>
                    <td>{{showedValue(item,'perempuan','number')}}</td>
                    <td>{{showedValue(item,'perempuan_disable','number')}}</td> -->

                

                </tr>
                </template>
            </tbody>

        </table>
    </div>
    <div ref="modal_lampiran" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                 <div class="modal-header">
                    <h5 class="modal-title" id="my-modal-title">Title</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Content</p>
                </div>
            </div>
        </div>
    </div>
    
    <div ref="modal_form_edit" v-if="form.kegiatan" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-full" role="document">
            <div class="modal-content">
                <div class="modal-header">
                        <h5 class="modal-title" id="my-modal-title">Edit Data Pelatihan</h5>
                        <button class="close" data-dismiss="modal" @click.prevent="closeFormEdit()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="modal-body d-flex">
                    <div class="flex-grow-1 flex-column">
                        <div>
                           <h5><b>{{form.tema}}</b></h5>
                           <p><b>{{form.kegiatan.nama_pelatihan}} Tahun {{tahun}}</b></p>
                           <div class="p-2 bg-success mb-2 rounded shadow">
                                <small>Pelaksanaan : {{form.kegiatan.tanggal_mulai +' - '+form.kegiatan.tanggal_selesai}}</small>
                                <p><span class="badge ">{{form.kegiatan.pelaksana}}</span></p>
                           </div>
                            <div class="d-flex mb-2">
                                <button class="btn btn-primary" @click="showListChosePemda"><i class="fa fa-plus"></i> Tambah Pemda</button>
                                <p class="flex-grow-1 ml-2"><b>Pemda Aggota  : {{form.data.length}} Pemda</b>   </p>
                            </div>
                           <div>
                            <div class="form-group ">
                                <label for="">Cari Pemda</label>
                                <input type="text" class="form-control" v-model="form.search">
                            </div>
                           </div>
                                </div>
                            <div class="flex-grow-1 ">
                            <div class="table-responsive flex-grow-1 " style="background:#f1f1f1">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>

                                            <th>Hapus</th>
                                            <th>Nama Pemda</th>
                                            <th>Laki-laki (Orang)</th>
                                            <th>Laki-laki Disabilitas (Orang)</th>
                                            <th>Perempuan (Orang)</th>
                                            <th>Perempuan  Disabilitas (Orang)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr :key="i" v-for="item,i in comformdata">
                                            <td>{{(10*(form.page-1))+(i+1)}}</td>
                                            <td>
                                                <button class="btn btn-danger btn-sm" @click="hapusFormData($event,item,i)"><i class="fa fa-trash"></i></button>
                                            </td>
                                            <td>
                                                {{item.label_name}}
                                                <span v-if="!item.id" class="badge badge-primary">New</span>
                                            </td>
                                            <td>
                                                <FormulateInput type="number" v-model="item.laki_laki" />
                                            </td>
                                            <td>
                                                <FormulateInput type="number"  v-model="item.laki_laki_disable"  />
                                            </td>
                                            <td>
                                                <FormulateInput type="number" v-model="item.perempuan" />
                                            </td>
                                            <td>
                                                <FormulateInput type="number"  v-model="item.perempuan_disable"/>
                                            </td>


                                        </tr>
                                    </tbody>
                                    
                                </table>
                               
                          
                        
                        </div> 
                        <div class="d-flex">
                                <div class="bgn-group btn-group-sm p-2 bg-secondary">
                                    <button class="btn bg-white" @click="form.page-=1;" v-bind:disabled="form.page<=1"><i class="fa fa-arrow-left"></i></button>
                                    <button class="btn btn-primary">{{form.page}}</button>
                                    <button class="btn bg-white"  @click="form.page+=1;"  v-bind:disabled="form.page>=form.page_info.max"><i class="fa fa-arrow-right"></i></button>
                                </div>
                                <p class="px-3 pt-2 pb-0">{{comformdata.length}}/{{form.data.length}} Data</p>
                               </div>
                   
                    </div>
                    </div>
                     <div v-if="listing_form_add_pemda" class="col-3 bg-white ml-1">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Tambah</th>
                                    <th>Nama Pemda</th>
                                </tr>  
                                <tr>
                                    <th colspan="2"> 
                                        <input v-model="search" class="form-control" placeholder="Cari.."/>   
                                    </th>
                                </tr> 
                                
                            </thead>
                            <tbody class="">
                                 <template v-for="item,i in com_list_pemda">
                                <tr v-if="i<5" :key="i"  >
                                    <td>
                                        <button class="btn btn-success btn-sm" @click="addPemda(item)"> <i class="fa fa-plus"></i></button>
                                    </td>
                                    <td>{{item.label_name}}</td>
                                </tr>
                                </template>
                            </tbody>
                        </table>
                    <span> Total  List {{com_list_pemda.length}}</span>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" @click="SimpanSingle(false)">Simpan</button>  
                </div>

              
            </div>
        </div>
    </div>

    <div ref="modal_edit_pemda" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-full" role="document">
            <div class="modal-content">
                <div class="modal-header">
                        <h5 class="modal-title" id="my-modal-title">Edit Data Pelatihan </h5>
                        <button class="close" data-dismiss="modal" @click.prevent="closeFormEdit()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="modal-body ">
                    <h4 class="mb-2"> {{form_single.label}} Tahun {{tahun}}</h4>
                    <hr>
                    
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <div class="btn-group mb-2">
                                <button class="btn btn-primary btn-sm" @click="SimpanSingle(form.kegiatan?true:false)">Simpan</button>
                            </div> 
                            <div class="table-responsive flex-grow-1 " style="background:#f1f1f1">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Hapus</th>
                                            <th>Nama Kegiatan</th>
                                            <th>Laki-laki (Orang)</th>
                                            <th>Laki-laki Disabilitas (Orang)</th>
                                            <th>Perempuan (Orang)</th>
                                            <th>Perempuan  Disabilitas (Orang)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr :key="i" v-for="item,i in form_single.data">
                                            <td>
                                                <button class="btn btn-sm btn-danger" @click="hapusSingle(i)"><i class="fa fa-trash"></i></button>
                                            </td>
                                            <td>{{item.tema}}</td>
                                            <td>
                                                <FormulateInput type="number" v-model="item.laki_laki" />
                                            </td>
                                            <td>
                                                <FormulateInput type="number"  v-model="item.laki_laki_disable"  />
                                            </td>
                                            <td>
                                                <FormulateInput type="number" v-model="item.perempuan" />
                                            </td>
                                            <td>
                                                <FormulateInput type="number"  v-model="item.perempuan_disable"/>
                                            </td>


                                        </tr>
                                    </tbody>
                                    
                                </table>
                          
                        
                        </div> 
                   
                           
                        </div>
                        <div class="col-4" v-if="complatiahanSingle.length">
                            <h5 class="">Pilihan Pelatihan</h5>
                            <div class="bg-white border border-primary rounded p-2 shadow mb-1" :key="i" v-for="item,i in complatiahanSingle">
                                <h5><b>{{item.nama_pelatihan}}</b></h5>
                                <p>Pelaksanaan : {{item.tanggal_mulai}} - {{item.tanggal_berahir}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    
</div>

    
</template>
<style scoped>
    .leave-enter-active, .leave-leave-active {
        transform-origin: 50% 50%;
        transition: transform .5s cubic-bezier(0.61, 1, 0.88, 1);
        transition-property: transform, opacity;
    }

    .leave-enter, .leave-leave-to {
    transform: scale(0);
    }

</style>

<script>
    export default {
    props:{
        permissions:Array,
        tahunDef:Number,
        dataset:{
            type:Object,
            require:false,
            default:function(){
                return {id:null,
                name:null};
            }
        },
        filter:{
            type:Object,
            default:function(){
                return {
                    filter_regional:null,
                    filter_tahun_proyek:null,
                }
            }
        },  
        urlLoadDef:String,
        options:{
            type:Object,
            default:()=>{
                return {
                    pelatihan_op:[]
                }
            }
        },
        listPemda:Array,
    },
    mounted:function(){
        this.mounted=true;
    },
    created:function(){
        console.log(this.permissions);
        this.loadData();
    },
    watch:{
        "form.search":function(){
            this.form.page=1;
        },
        "form.tema":function(val){
            this.form.kegiatan=null;
            var tema=this.comtema.filter(el=>el.name==val);
            if(tema.length){
                this.option_kegiatan=tema[0].kegiatan;
            }else{
                this.option_kegiatan=[];
            }
            this.loadData();
        },
        "form.kegiatan":function(val){
            this.loadData();
        }
    },
    data:function(){
        return {

            mounted:false,
            list_pemda:this.listPemda||[],
            columns:[],
            search:'',
            listing_form_add_pemda:false,
            data_rekap:[],
            option_kegiatan:[],
            tahun:this.tahunDef||new Date().getFullYear(),
            form_single:{
                kode:null,
                label:null,
                keterangan:[],
                data_delete:[],
                data:[]
            },
            form:{
                data:[],
                search:'',
                tema:'',
                data_delete:[],
                page:1,
                page_info:{
                    min:1,
                    max:1
                },
                kegiatan:'',
                tanggal_pelaksanaan:'',
                tanggal_berahir:'',
                pelaksana:''
            }
        }
    },
    methods:{
        hapusFormData:function(ev,item,index){
            console.log( $(ev.target).parent().parent());
            var tg= $(ev.target).parent().parent();
            tg.addClass('leave-enter-active leave-leave-active').addClass(' leave-enter leave-leave-to');
          var self=this;
          if(item.id && this.form.data[index].id==item.id){
            this.form.data_delete.push(item);
          }
            setTimeout((ref,tg)=>{
                ref.form.data.splice(index,1);

                tg.parent().find('.leave-enter-active.leave-leave-active.leave-enter.leave-leave-to').attr('class','');
            },500,self,tg);


        },
        SimpanSingle:function(mode_single){
            var self=this;
            if(mode_single){
                var option={
                    mode_single:mode_single,
                    data:this.form_single.data,
                    data_delete:this.form_single.data_delete
                }
            }else{
                var option={
                    mode_single:mode_single,
                    data:this.form.data,
                    meta:this.form.kegiatan,
                    data_delete:this.form.data_delete
                }

            }
            req_ajax.post((self.$url_base_form_api||'').replace('(TAHUN)',this.tahun),{
                'formname':'pelatihan',
                'method':'update',
                'data_request':option
            }).then(function(res){
               
            }).finally(function(){
                $('.modal').modal('hide');

                self.$isLoading(false);
                self.loadData();

                // $(self.$refs.tb_data).DataTable();

                
            });

        },
        hapusSingle(index){
            if(this.form_single.data[index]!=undefined){
                if(this.form_single.data[index].id){
                    this.form_single.data_delete.push({
                        'id':this.form_single.data[index].id,
                        'kodepemda':this.form_single.data[index].kode,
                        'tahun':this.tahun
                    });

                }
               
            this.form_single.data.splice(index,1);


            }
        },
        form_single_del:function(){
            this.$refs.excel_single_pemda.deleteSelectedRecords();
        },
        loadEditForm:function(item){
            this.form_single.data_delete=[];
            this.form_single.data=[];
            this.form_single.data=item.data;
            this.form_single.label=item.label;
            this.form_single.kode=item.kode;
            console.log('ss');

            $(this.$refs.modal_edit_pemda).modal({
                backdrop:'static'
            });
        },
        fileShow:function(item){
        
        },
        countTema_pelatihan:function(){
            var d={};
            this.data_rekap.filter(el=>{
                return el.exist_data;
            }).forEach(el=>{
                var tema=(el.tema||'LAINYA').toUpperCase();
                if(d[tema]==undefined){
                    d[tema]=[];
                }

                if(!d[tema].includes((el.kegiatan||'').toUpperCase())){
                    d[tema].push((el.kegiatan||'').toUpperCase());
                }

                 
            });
            return d;
        },

        showedDate:function(val){
            if(val){
            return new moment(val).format('DD MMM YYYY');

            }else{
                return '-';
            }
        },
        showedValue:function(data,key,type){
            if(data[key]!=undefined){
                if(data[key]){
                    switch(type){
                        case 'string':
                            return data[key]||'-';
                        break;
                          case 'number':
                            return NumberFormat(data[key]);
                        break;
                         case 'file':
                            var json=JSON.parse(data[key]||'[]');
                            return json;

                        break;
                    }
                }else{
                    return '-';
                }
            }else{
                return '-';
            }
        },
        loadData:function(){
            var self=this;
            self.$isLoading(true);
            // $(self.$refs.tb_data).DataTable('destroy');
            var option={
                kegiatan_id:this.form.kegiatan?this.form.kegiatan.id:null,
                tema:this.form.tema,
     
            }
            req_ajax.post((self.$url_base_form_api||'').replace('(TAHUN)',this.tahun),{
                'formname':'pelatihan',
                'method':'get',
                'options':option
            }).then(function(res){
                self.data_rekap=[];
                self.form.data=[];
                self.form.page=1;
                res.data.forEach(element => {
                    self.data_rekap.push(self.buildData(element));
                    self.form.data.push(self.buildData(element));

                });
            }).finally(function(){
                self.$isLoading(false);
                // $(self.$refs.tb_data).DataTable();

                
            });
        },
        buildData:function(x){
            return {
                id:x.exist_data,
                kode:x.kodepemda,
                exist_data:x.exist_data||null,
                status_data:x.status_data,
                update_content:x.update_content,
                update_status:x.update_status,
                label_name:x.nama_pemda,
                keterangan:x.keterangan,
                tema:x.tema,
                lampiran:x.lampiran||'[]',
                laki_laki:x['laki_laki']||0,
                perempuan:x['perempuan']||0,
                perempuan_disable:x['perempuan_disable']||0,
                laki_laki_disable:x['laki_laki_disable']||0,
                id_ref:x['id_ref']||0,

            };
        },
        showFormEdit:function(){
            $(this.$refs.modal_form_edit).modal({
                backdrop:'static'
            });
        },
        closeFormEdit:function(){
            $('.modal').modal('hide');
            this.listing_form_add_pemda=false;
        },
        showListChosePemda:function(){
            this.listing_form_add_pemda=true;
        },
        checkExist:function(pemda){
            var data=this.form.data.filter(el=>{
                return el.kode==pemda.kode;
            });
            return data.length<0;
        },
        addPemda:function(pemda){
            var data=this.form.data.filter(el=>{
                return el.kode==pemda.kode;
            });

            if(0==data.length){
                var exist_del=this.form.data_delete.filter(el=>{
                    return el.kode==pemda.kode;
                });

                if(exist_del.length){
                    this.form.data.push(exist_del[0]);
                    var index=this.form.data_delete.indexOf(exist_del[0]);
                    if(index!=-1){
                        this.form.data_delete.splice(index,1);
                    }

                }else{
                    this.form.data.push({
                        id:null,
                        kode:pemda.kode,
                        label_name:pemda.label_name,
                        laki_laki:0,
                        perempuan:0,
                        id_ref:this.form.kegiatan.id,
                        laki_laki_disable:0,
                        perempuan_disable:0,
                    });
                }
                
               
            }

        },
       
    },
    computed:{
        complatiahanSingle:function(){
            if(this.form.kegiatan){
                return [];
            }

            return this.options.pelatihan_op.filter(el=>{
                var tema=true;
                var kegiatan=this.form_single.data.map(el=>el.id_ref);

                if(this.form.tema){
                    tema=el.temas.includes(this.form.tema);
                }

                if(tema && !kegiatan.includes(el.id)){
                    return true;
                }else{
                    return false;
                }

                
            });

            
        },
        comformdata:function(){
            var data= this.form.data.filter((el,i)=>{
                    return el.label_name.includes((this.form.search||'').toUpperCase());
            });
                 this.form.page_info.max=Math.floor(data.length/10)+(((data.length/10)%1!=0)?1:0);


            return data.filter((el,i)=>{
                return ((i+1)<=(this.form.page*10)) && (((this.form.page-1)*10) < (i+1));
            });
        },

        comtema:function(){
            var temas={};
            this.options.pelatihan_op.forEach((el)=>{
               
                var tema=JSON.parse(el.temas);
                tema.forEach((tm,i)=>{
                    if(this.form.tema=='' && i==0){
                         this.form.tema=tm;
                     }
                    if(temas[tm]==undefined){
                        temas[tm]={
                            name:tm,
                            kegiatan:[]
                        }
                    }
                    temas[tm]['kegiatan'].push(el);
                });
            });

           
            return Object.values(temas);
        },
        form_single_show_del:function(){
            if(this.mounted){
                console.log(this.$refs.excel_single_pemda);
                return this.$refs.excel_single_pemda.selectedCount > 0 
            }else{
                return false;
            }
        },
        com_data:function(){
            var data={};
            this.data_rekap.forEach(el => {
                    if(data[el.kode]==undefined){
                        data[el.kode]={
                            kode:el.kode,
                            label:el.label_name,
                            status_data:el.status_data,
                            exist_data:el.exist_data,
                            count:0,
                            update_status:el.updated_status,
                            update_content:el.update_content,
                            keterangan:[],
                            data:[]


                        }
                    }

                    if(data[el.kode]!=undefined){
                        data[el.kode]['data'].push(el);
                        data[el.kode]['count']+=1;
                        if(el.keterangan){
                            data[el.kode]['keterangan'].push(el.keterangan);
                        }
                    }

            });

            return Object.values(data);

        },
        com_list_pemda:function(){
            var d=this.form.data.map(el=>{
                return el.kode;
            });
            console.log(d);

            return this.list_pemda.filter((el,l)=>{
                return  (el.label_name.toLowerCase().includes((this.search||'').toLowerCase())) && !d.includes(el.kode);
            });

            
        },
      
    }

}
</script>