<template>
    <div class="">
        <div class="px-2">
            <p class="mb-2"><small >Sumber: {{com.sumber}}</small></p>
        </div>
        
    </div>
</template>

<script>
export default{
    props:{
        com:{
            type:Object,
            default:function(){
                return {
                    com_id:'',
                    options:{},
                    data_collection:[]
                }
            }
        }
    },
    data:function(){
        return {
            a:'ss'
        }
    }
}
</script>