<template>
    <div>
        <div class="px-2 border-bottom border-dark">
            <p>Row</p>
        </div>
        <div>
            <div class="flex-grow-1 pt-2 flex-column px-2 shadow rounded border border-dark bg-white my-1" :key="i" v-for="item,i in com.data_collection"> 
                <p class="border-dark border-bottom p-2 bg-dark">R {{i+1}} - {{item.name}} <span> <button class="btn btn-danger btn-sm" @click="remove(i)" ><i class="fa fa-trash"></i></button></span></p>
                <yn-select-com :com_enable="com_enable" class="" :com="item" ></yn-select-com>
               
            </div>
            <div class="mt-2">
                <button class="btn broder border-dark w-100 mb-2" @click="showAddList"><i class="fa fa-plus"></i> Row</button>  
            </div>
        </div>

        <div ref="modal_add_com" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                       <div class="" >
                            <div @click="addCom(item)" role="button" class="bg-white rounded p-3 border-bottom border mb-1" :key="'com-'+i" v-for="item,i in com_enable">
                                <h5>{{item.name}}</h5>
                                <small>Sumber : {{item.sumber}}</small>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
       
      
    </div>

</template>

<script>
export default{
    props:{
        com:{
            type:Object,
            default:function(){
                return {
                    com_id:'',
                    options:{},
                    data_collection:[]
                }
            }
        },
        com_enable:Array
    },
    data:function(){
        return {
            'a':'sss'
        }
    },
    methods: {
        showAddList:function(){
            $(this.$refs.modal_add_com).modal();
        },
        addCom:function(data={}){
            var data=JSON.parse(JSON.stringify(data));
            if(data['data_collection']==undefined){
                data['data_collection']=[];
            }
            // var data= { "com_id": "fgdm::components.markdown", "options": { "title": "Tjsksj", "content": "Lorem ipsum dolor sit amet,[PEMDA] consectetur adipisicing elit, sed do eiusmod", "title_class": "text-center", "content_class": "" } };
            this.com.data_collection.push(data);
        },

        remove:function(index){
            this.com.data_collection.splice(index,1);
        }
    },
}
</script>