<template>
    <div>
        <div class="px-2  align-self-center">
            <p class=" align-self-center">Markdown  <span role="button" class="badge badge-primary rounded-cricle"  @click="openFormEdit"> <i class="fa fa-pen"></i></span>
            </p>
            <h5>{{com.options.title}}</h5>
            <p>{{com.options.content}}</p>
        </div>
        
        <div ref="modal-mark-edit" style="z-index:9999999999999999;" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content ">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="">Title</label>
                            <input type="text" class="form-control" v-model="com.options.title">
                        </div>
                        <div class="form-group">
                            <label for="">Content</label>
                            <ckeditor  :editor="class_editor" :config="config"  v-model="com.options.content"></ckeditor>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</template>

<script>

export default{
    props:{
        com:{
            type:Object,
            default:function(){
                return {
                    com_id:'',
                    options:{},
                    data_collection:[]
                }
            }
        }
    },
    methods:{
        openFormEdit:function(){
            if($(this.$refs['modal-mark-edit']).html()!=undefined){
                $(this.$refs['modal-mark-edit']).remove();
            }

            $(this.$refs['modal-mark-edit']).modal({
                
            });
            // $('.modal-backdrop').remo();

        }
    },  
    computed:{
        class_editor:function(){
           return  window.CKClassicEditor;
        }
    },  
    data:function(){
        return {
            // class_editor:  window.CKClassicEditor,
            config:{

                toolbars: [
                            'Format',
                            ['Bold', 'Italic', 'Strike', 'Underline'],
                            ['BulletedList', 'NumberedList', 'Blockquote'],
                            ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'],
                            ['Link', 'Unlink'],
                            ['FontSize', 'TextColor'],
                            // ['Image'],
                            ['Undo', 'Redo'],
                            ['Source', 'Maximize']
                            ]
                }
               
            };
        
        
    }
}
</script>