<template>
    <div>
        <template v-if="com.com_id=='fgdm::components.loop_data'">
            <yn-loop-data  ref="com"  :com_enable="com_enable"  :com="com"></yn-loop-data>
        </template>
        <template  v-else-if="com.com_id=='fgdm::components.column'">
            <yn-column ref="com" :com_enable="com_enable"  :com="com"></yn-column>
        </template>
        <template  v-else-if="com.com_id=='fgdm::components.markdown'">
            <yn-markdown ref="com"  :com="com"></yn-markdown>
        </template>
        <template   v-else-if="com.com_id=='fgdm::components.section_cascading'">
            <yn-section-cascading :com_enable="com_enable" ref="com"  :com="com"></yn-section-cascading>
        </template>
        <template  v-else>
            <yn-data  ref="com"  :com="com"></yn-data>
        </template>
    </div>
</template>

<script>

export default{
    props:{
        com:{
            type:Object,
            default:function(){
                return {
                    com_id:'',
                    options:{},
                    data_collection:[]
                }
            }
        },
        com_enable:Array

       
    },
    data:function(){
        return {
            a:'ss'
        }
    },
    methods: {
        
    },
}
</script>