<template>
    <div>
        <div v-if="imgData">
             <cropper 
                ref="cropper"
                class="cropper"
                :src="imgData"
                :stencil-size="{
                    width: 300,
                    height: 300
                }"
                :stencil-props="{
                    handlers: {},
                    movable: false,
                    resizable: false,
                    aspectRatio: 1,
                }"
                image-restriction="stencil"
                @change="change"
           
            />
        <div class="text-center py-2">
            <button class="btn btn-primary btn-sm" @click="process">Simpan</button>
        </div>
        </div>
    </div> 

</template>    

<script>
export default {
    props:{
        imgData:String,
        result:Function

    },
    methods: {
		change({ coordinates,image, canvas }) {
		},
        process:function(){
            var result= this.$refs.cropper.getResult();
            $('.modal').modal('hide');
            this.result(result.canvas.toDataURL('image/png', 0.5));
            // this.result({img:iamge,cordinates:result.coordinates});
        }
	},
}
</script>  