<template>
    <div class="">
       <div class="my-2">
         <button @click="show" :class="'btn btn-sm '+(classBtn?classBtn:'btn-primary')">Keterangan Kolum Data</button>
       </div>
        <div style="position:relative;">
            <div ref="modal_kolum" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="z-index:99999;">
            <div class="modal-dialog modal-full" role="document">
                
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="my-modal-title">Kolom Data ({{dataset?dataset.name:""}})</h5>
                        <button class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="2">Default</th>
                                    <th colspan="2">Level Data</th>
                                    <th colspan="2">Level Pemda</th>
                                    <th colspan="2">Level Nasional</th>
                                    <th></th>

                                </tr>
                                <tr>
                                    <th>Nama</th>
                                    <th>Satuan</th>
                                    <th>Nama</th>
                                    <th>Satuan</th>
                                    <th>Nama</th>
                                    <th>Satuan</th>
                                    <th>Nama</th>
                                    <th>Satuan</th>
                                    <th>Definisi/Konsep</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr :key="i" v-for="item,i in data">
                                    <td>{{item.name}}</td>
                                    <td>{{item.satuan}}</td>
                                     <td>{{item.ag_lev_data_title}}</td>
                                    <td>{{item.ag_lev_data_satuan}}</td>
                                    <td>{{item.ag_lev_pemda_title}}</td>
                                    <td>{{item.ag_lev_pemda_satuan}}</td>
                                    <td>{{item.ag_lev_nasional_title}}</td>
                                    <td>{{item.ag_lev_nasional_satuan}}</td>
                                    <td>{{item.definisi_konsep}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
        
    </div> 

</template> 

<script>

export default {
    props:{
        dataset:Object,
        pathResources:String,
        classBtn:String
    },
   data:function(){
        return {
            data:[],
            id:null,
            dataset_meta:{
                name:'',
                id:0
            }
        }
   },
   created:function(){
    
   },
   watch:{
    "dataset_meta.id":function(){
        var self=this;
        req_ajax.post(this.pathResources).then(res=>{
            self.data=res.data;

        }).finally(function(){
            self.id='modal-kolumn-'+window.btoa(Math.random(1,1000)+(new Date())).replaceAll('=','');
            $(self.$refs.modal_kolum).attr('id',self.id).appendTo('body');

        });
    }
   },
   mounted:function(){
    this.dataset_meta=this.dataset;
   },
   methods:{
       
        show:function(){
            $('#'+this.id).modal({backdrop:'static'});
        }
   }
}
</script>
