

<template>
    <div class="table-responsive bg-white" >
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Aksi</th>
                    <th>Nama Pemda</th>
                    <th>Status Data</th>
                </tr>
            </thead>
            <tbody>
                <template  v-for="item,i in data" >
                    <tr :key="i" class="border border border-primary">
                        <td >
                            <div class="btn-group">
                                <button class="btn btn-warning">
                                    <i class="fa fa-pen"></i>
                                </button>
                                <button v-if="item.status_data==1" class="btn btn-primary">
                                   Validasi
                                </button>
                                <button v-if="item.status_data==2" disabled class="btn btn-primary">
                                   <i class="fa fa-check"></i>
                                </button>
                                <button v-if="item.status_data==0 || item.status_data==null" class="btn btn-success">
                                   Verifikasi
                                </button>
                            </div>
                        </td>
                        <td>
                            <p><b>{{item.title}}</b></p>
                            <p>{{item.subtitle}}</p>
                        </td>
                        <td>
                            <p class="bg-primary p-2 rounded" v-if="item.status_data==2">Tervalidasi</p>
                            <p class="bg-success p-2 rounded " v-else-if="item.status_data==1">Terverifikasi</p>
                            <p class="bg-dark p-2 rounded" v-else>Belum Terdapat Status</p>


                        </td>
                    </tr>

                    <template  v-for="bu,ibu in item.bumdam" >
                    <tr :key="i">
                        <td style="padding-left:60px">
                            <div class="btn-group">
                                <button class="btn btn-dark" disabled >Aksi Data BUMDAM :</button>
                                <button class="btn btn-info" ><i class="fa fa-eye"></i></button>
                                <button class="btn btn-warning" ><i class="fa fa-pen"></i></button>
                                <button class="btn btn-danger" ><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                        <td>
                            <p><i class="fa fa-arrow-right"></i> <b class="text-green">{{bu.nama_bu}}</b></p>
    
                        </td>
                        <td>

                        </td>
                    </tr>

                    </template>


                    
                </template>
            </tbody>
        </table>
    </div>
</template>

<script>
export default{
    props:{
        id_dataset:Number,
        nameDataset:String,
        tahun:Number
    },
    data:function(){
        return {
            data:[]
        }
    },
    created(){
        this.init();
    },
    methods:{
        init:function(){
            var self=this;
            self.$isLoading(true);
            req_ajax.post('mod/'+this.tahun+'/module-dataset-form/list-bumdam/state/'+this.id_dataset).then(res=>{
                self.data=res.data;
            }).finally(()=>{
                self.$isLoading(false);
            });
        }
    }
}
</script>