

<style scoped>
    *{
        font-size:10px;
    }
    table{
        max-width:800px;
        width: 100%;
        font-size: 8px;
    }
    table  tr th, table  tr td{
        padding: 3px;
          word-break: break-all;
          font-size: 4px;
          
    }
    .tb-container{
        float:left
    }
  
</style>

<template>
    
       <div class="flex-column d-flex">
         <charts ref="chart" v-if="!data.chart" :options="chart"></charts>
         <div  class="tb-container"   v-if="!data.table">
            <table class="table table-bordered " ref="table">
                <thead class="thead-dark">
                    <tr>
                        <th :key="i" v-for="item,i in data.columns">
                            {{item.ag_title||item.name}}
                        </th>
                    </tr>  
                </thead>
                <tbody>
                    <tr :key="'d'+index" v-for="row,index in data.data">
                        <td :key="'c'+i" v-for="item,i in data.columns">
                            {{row[item.field_name]}}
                        </td>
                    </tr>
                </tbody>
            </table>
         </div>
         <img :src="data.chart" v-if="data.chart" class="img-responsive " alt="">
         <img :src="data.table" v-if="data.table" class="img-responsive " alt="">
       </div>
        
</template>
<script>
export default  {
    data:function(){
       return  {
            data:{
                columns:[],
                data:[],
                chart:'',
                table:'',
            },
            chart:{
            
                title:{
                    text:'APBD '
                },
                plotOptions: {
                        column: {
                            dataLabels: {
                                enabled: true
                            },
                        }
                },
                chart:{
                    height:300,
                    type:'column',
                },
                xAxis:{
                    type:'category'
                },
                series:[]
            }
        };

    },
    created:function(){
        this.getData();
        this.chart.title.text='APBD '+this.tahun;
    },
    props:{
        kodepemda:String,
        id_dataset:Number,
        tahun:Number,
        link:String,
        doneCom:Function

    },
    methods:{
        sorted:function(objs,field){
            return objs.sort((a,b) => a[field] - b[field]);
        },  
      
        processToImg:function(){


            var self=this;
                    self.doneCom();

            domtoimage.toPng(self.$refs.chart.$el,{ quality: 1 })
            .then(function (dataUrl) {
                // self.data.chart = dataUrl;

                
            })
            .catch(function (error) {
                console.error('oops, something went wrong!', error);
            });

            // domtoimage.toPng(self.$refs.table,{ quality: 1 })
            //     .then(function (dataUrl) {
            //         self.data.table = dataUrl;
            //         self.doneCom();
            //     })
            //     .catch(function (error) {
            //         console.error('oops, something went wrong!', error);
            //     });
             

            
        },  
        processDataToSeries:function(){
            var series=[
                {
                    name:'Total Anggaran',
                    data:{},
                }
            ];

            var self=this;
            this.data.data.forEach((el)=>{
                if(series[0].data[el.kodesubkegiatan]==undefined){
                    series[0].data[el.kodesubkegiatan]={
                        name:el.namasubkegiatan,
                        kode:el.kodesubkegiatan,
                        y:0
                    };
                }
                series[0].data[el.kodesubkegiatan].y+=parseFloat(el.totalharga||el.pagu);

            });

            series[0].data=Object.values(series[0].data);
            series[0].data=this.sorted(series[0].data,'y').reverse();
            this.chart.series=series;

            setTimeout(function(ref){
                ref.processToImg();
            },1000,self)

        },
        getData:function(){
            var self=this;
            req_ajax.post((this.link).yoneReplaceParam('@?',[this.tahun,this.id_dataset,this.kodepemda])).then(res=>{
                self.data.columns=res.data.columns;
                self.data.data=res.data.data;

            }).finally(function(){
                self.$forceUpdate();
                self.processDataToSeries();

            });
        }

    }
   
};
</script>