<template>
    <div :id="id_content" class="flex-column">
        
        <div class="d-flex flex-column h-print " ref="filter_def"  >
           <h4 v-if="def_title">{{this.def_title}}</h4>
           <hr>
            <div class=" mb-2 d-flex overflow-scroll-x " >
                <div class="flex-column d-flex bg-orange rounded mr-2"  v-if="options_def.filter.regional.enabled">
                    <p class="px-2 m-0 rounded-top">Regional</p>
                    <div class="btn-group">
                        <button data-trigger="hover"  tp="true" data-toggle="tooltip" data-placement="bottom" title="Semua" class="btn btn-sm bg-danger" @click="options_def.filter.regional.value=[]"><i class="fa fa-trash"></i>   </button>
                        <button data-trigger="hover"  tp="true" data-toggle="tooltip" data-placement="bottom" :title="f[1].toCapitalize()" :key="'status_regional_'+f[0]"  v-for="f in Object.entries(options_def.filter.regional.optional)" :class="'btn btn-sm '+((options_def.filter.regional.value.includes(f[1]) || options_def.filter.regional.value.length==0) ?'bg-primary':'bg-secondary') "  @click="toggleRegional(f[1])" v-html="f[0]"></button>

                    </div>
                </div>
                <div class="flex-column d-flex bg-success rounded mr-2"  v-if="options_def.filter.status_data.enabled">
                    <p class="px-2 m-0 rounded-top">Status Data</p>
                    <div class="btn-group">
                        <button data-trigger="hover"  tp="true" data-toggle="tooltip" data-placement="top" title="Semua" class="btn btn-sm bg-danger" @click="options_def.filter.status_data.value=null"><i class="fa fa-trash"></i>   </button>
                        
                        <button data-trigger="hover"  tp="true" data-toggle="tooltip" data-placement="top" :title="f[1].toCapitalize()" :key="'status_data_'+f[0]"  v-for="f in Object.entries(options_def.filter.status_data.optional)" :class="'btn btn-sm '+((options_def.filter.status_data.value==f[1]|| options_def.filter.status_data.value==null) ?'bg-primary':'bg-secondary') "  @click="options_def.filter.status_data.value=f[1]" v-html="f[0]"></button>


                    </div>
                </div>
                <div class="flex-column d-flex bg-warning rounded mr-2" v-if="options_def.filter.status_data.enabled">
                    <p class="px-2 m-0 rounded-top">Tipe Bantuan</p>
                    <div class="btn-group">
                        <button data-trigger="hover"  tp="true" data-toggle="tooltip" data-placement="top" title="Semua"  class="btn btn-sm bg-danger" @click="toggleBantuan(null)"><i class="fa fa-trash"></i>   </button>
                        <button data-trigger="hover"  tp="true" data-toggle="tooltip" data-placement="top" :title="f[1].toCapitalize()" :key="'tipe_batuan_'+f[0]"  v-for="f in Object.entries(options_def.filter.tipe_bantuan.optional)" :class="'btn btn-sm '+(options_def.filter.tipe_bantuan.value.includes(f[1])?'bg-primary':'bg-secondary') "  @click="toggleBantuan(f[1])" v-html="f[0]"></button>


                    </div>

                </div>
                <v-wa-sender class="print-hidden" :dom-content="'#'+id_content" :url-target="com_curent_url" :name-file="com_path+'/Keterisian '+dataset.name+' '+chart.subtitle.text+'.pdf'" :user-op="com_my_data" ></v-wa-sender>
                
            </div>
            <div class="d-flex overflow-scroll-x pb-2" >

               <div :key="'item-filtered-'+i" v-for="item,i in chart.series" :style="'min-width:150px; background-color:rgba(0,123,255,'+((chart.series.length-i)/chart.series.length).toFixed(2)+')!important'"  :class="'d-flex flex-column bg-primary p-0 mb-1 mr-1   rounded '+(((chart.series.length-(i))/chart.series.length).toFixed(2)<0.5?'text-dark':'')">
                    <small class="px-2 bg-primary rounded">{{item.name}}</small>
                    <p class="px-2 m-0 rounded-top">
                        <span v-if="item.satuan!='-'?true:false">{{item.satuan}}</span>
                        {{getValueLokus(item,item.btn_active)}}
                    </p>
                    <div class="btn-group" >
                    <button @click="item.btn_active=f[0]" data-trigger="hover"  tp="true" data-toggle="tooltip" data-placement="left" :title="f[1]" :class="'btn btn-sm '+(item.btn_active==f[0]?'bg-primary':'bg-secondary') " :key="'filter_field_'+f[0]" v-for="f in Object.entries(options_def.filter.field_lokus.optional)" v-html="f[0]"></button>

                    </div>
               </div>


            </div>
        </div> 
        <div class="progress m-0 p-0 mb-1 " :style="{height:'3px',marginTop:'0px',visibility:proggress?'visible':'hidden'}" >
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
        <hr>
        <charts :options="chart" :constructor-type="'chart'" ></charts>

        
    </div>


    
        
</template>

<script>
const { v4: uuidv4 } = require('uuid');
export default {
     props:{
        id_content:{
            type:String,
            default:'DTS'+uuidv4()
        },
        withTitle:{
            type:Boolean,
            default:false
        },
        tahun:{
            type:Number,
            default:(new Date().getFullYear())
        },
        link:{
            require:true,
            type:String,
        },
        dataset:{
            type:Object,
            require:true,
            default:function(){
                return {
                    id:0,
                    name:''
                };
            }
        },
        regional:{
            type:String,
            default:null
        },
        options:{
            type:Object,
            default:function(){
                return {
                filter:{
                    status_data:{
                        value:null
                    }
                }
                };
            }
        },
        timeout:Number

    },
    methods:{
        addChart:function(){
            Object.assign(this.chart,{
                chart:{
                    type:'column',
                },
                 plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                        
                       }
                    }
                },
                tooltip: {
                    shared: true
                },
                subtitle:{
                    enabled:true,
                    text:''
                },
                series:[],
                xAxis:{
                    type:'category'
                },
                yAxis:[],
                title:{
                     text:''
                }
            });
            
        },
        createInterval:function(){
            if(this.internal_timeout!=0){
               if(this.interval_update==null){
                    var self=this;
                    this.interval_update=setInterval(function(ref){
                        ref.getData();
                    },this.internal_timeout,self);
               }
            }
        },
        getData:function(){
            if(this.interval_update){
                clearInterval(this.interval_update);
                this.interval_update=null;
            }

            var self=this;
            self.proggress=true;
            req_ajax.post((this.link).yoneReplaceParam('@?',[this.tahun_data,this.dataset.id]),{
                ftr:this.com_filter_get_data
           }).then(res=>{
                self.chart.series=[];
                self.chart.yAxis=[];
                if(res.data){

                    self.chart.yAxis=res.data.yAxis;
                    self.chart.series=res.data.series;
                    self.$forceUpdate();
                }
                console.log(self.chart);
            }).finally(function(){
            self.proggress=false;
            self.buildSubtitle();

            });
        },
        mergeOptions:function(){
                var def_options={
                    filter:{
                        regional:{
                            enabled:true,
                            value:[],
                            optional:{
                                'R1':'REGIONAL 1',
                                'R2':'REGIONAL 2',
                                'R3':'REGIONAL 3',
                                'R4':'REGIONAL 4'
                            }
                        },
                        tipe_bantuan:{
                            enabled:true,
                            value:[],
                            optional:{
                                'S':'STIMULAN',
                                'P':'PENDAMPINGAN',
                                'BP':'BASIS PROYEK'
                            }
                        },
                        status_data:{
                            enabled:true,
                            value:'ONLY VERIFICATION',
                            optional:{
                                '<i class="fa fa-pen"></i>':'ONLY INPUT',
                                '<i class="fa fa-check"></i>':'ONLY VERIFICATION',
                                '<i class="fa fa-check-double"></i>':'ONLY VALIDATION',
                            }

                        },
                        field_lokus:{
                            enabled:true,
                            value:null,
                            optional:{
                                'N':'NASIONAL',
                                'N-N':'NASIONAL NON NUWAS',
                                'L':'LONGLIST NUWSP',
                                'S':'SORTLIST NUWSP',
                            }
                        }
                    }


                }

                if(this.regional){
                    def_options.filter.regional.enabled=false;
                    def_options.filter.regional.value=[this.regional];
                }

               
                
                def_options=this.MergeRecursiveDiff(def_options,(this.options||{}));
                return def_options;
        },
        getChildMerge:function(a,b,){

        },
        MergeRecursiveDiff:function(obj1, obj2) {

                for (var p in obj2) {
                try {
                    // Property in destination object set; update its value.
                    if ( obj2[p].constructor==Object ) {
                    obj1[p] = this.MergeRecursiveDiff(obj1[p], obj2[p]);

                    } else {
                    //Here, I test if the objects are already the same
                    if(obj1[p] === obj2[p]) {
                        //If they're the same, I delete the first object
                        // delete(obj1[p]);
                    } else {
                        obj1[p] = obj2[p];
                    }
                    }

                } catch(e) {
                    // Property in destination object not set; create it and set its value.
                    obj1[p] = obj2[p];

                }
                }

                return obj1;
        },
        buildSubtitle:function(){
            var val=this.com_filter_get_data;
             var subtitle=[];
                Object.keys(val).forEach(el=>{
                    if(this.options_def.filter[el].enabled==true && el!='field_lokus'){
                        if(val[el]!=null){
                            if(typeof val[el]=='object'){
                                if(val[el].length){
                                    subtitle.push(el.replace('_',' ')+' : ( '+Object.values(val[el]).join(el=='tipe_bantuan'?' / ':', ')+' ) ');
                                }

                            }else{
                                subtitle.push(el.replace('_',' ')+' : '+val[el]+' ');

                                    
                            }
                        }else{
                                subtitle.push(el.replace('_',' ')+' : Semua ');
                        }

                        
                        
                    }else{
                        console.log('un',el,val[el]);

                    }
                });

            this.chart.subtitle.text=subtitle.join(', ').toCapitalize();
        },
        
        toggleBantuan:function(item){

            if(item==null){
                this.options_def.filter.tipe_bantuan.value=[];
            }else{
                if(this.options_def.filter.tipe_bantuan.value.includes(item)){
                    var index=this.options_def.filter.tipe_bantuan.value.indexOf(item);
                    if(index!=-1){
                        this.options_def.filter.tipe_bantuan.value.splice(index,1);
                    }
                }else{
                    this.options_def.filter.tipe_bantuan.value.push(item);
                }
            }
        },
        toggleRegional:function(item){
             if(item==null){
                this.options_def.filter.regional.value=[];
            }else{
                if(this.options_def.filter.regional.value.includes(item)){
                    var index=this.options_def.filter.regional.value.indexOf(item);
                    if(index!=-1){
                        this.options_def.filter.regional.value.splice(index,1);
                    }
                }else{
                    this.options_def.filter.regional.value.push(item);
                }
            }

        },
        getValueLokus:function(item,k){
            var data=item.data.filter(el=>{
               return el.key_lokus==k;
            });
            if(data){
                return window.NumberFormat(data[0].y||'0');
            }else{
                return 0;
            }
        }
    },
    computed:{
        com_path:function(){
            return moment().format('DDMMYYY')+'/'+((this.com_my_data.number||'62').replace('@c.us','-user').replace('@g.us','-group'));
        },  
        com_my_data:function(){
            var d={
                user:MySession.id,
                number:null
            }

            if(MySession.phone_number){
                var ph=JSON.parse(MySession.phone_number||'[]');
                if(ph[2]){
                    ph=ph[2].replace('+','');
                    if(!ph.includes('@')){
                        ph=ph+'@c.us';
                    }
                    d.number=ph;
                }
            }

            return d;
        },
        com_curent_url:function(){
            return window.location.href;
        },
      com_filter_get_data:function(){
        var filter={};
            Object.entries(this.options_def.filter).forEach(el=>{
                filter[el[0]]=el[1].value;
           });

           return filter;
      },  

    },
    watch:{
        com_filter_get_data:function(val){
            this.getData();
        

            var self=this;
            setTimeout(function(ref){
                ref.createInterval();
            },1000,self);
        }
    },
    created:function(){

            var self=this;
              var title='';
             if(this.regional){
                  
                title=this.dataset.name +' Tahun '+this.tahun+' Regional '+this.regional; 

            }else{
                title=this.dataset.name +' Tahun '+this.tahun; 

            }

            this.def_title=title;
            
            this.addChart();
    },
    mounted:function(){
        
        var self=this;
        setTimeout(function(ref){
            //  $(ref.$refs.filter_def).find('[data-toggle="tooltip"]').tooltip();
             ref.getData();
                ref.createInterval();
        },800,self);


    },
   
    data:function(){

        return {
            def_title:null,
            proggress:false,
            interval_update:null,
            internal_timeout:this.timeout||0,
            tahun_data:this.tahun,
            options_def:this.mergeOptions(),
            filter:{
                status_data:2,
                tipe_bantuan:[],
            },
            chart:{
                 chart:{
                    type:'column',
                },
                 plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                        
                       }
                    }
                },
                tooltip: {
                    shared: true
                },
                subtitle:{
                    enabled:true,
                    text:''
                },
                series:[],
                xAxis:{
                    type:'category'
                },
                yAxis:[],
                title:{
                     text:''
                }
            }
        }
    }
}
</script>