<template>
<div class="bg-white rounded shadow p-2 col-12">
    <template  v-if="filter.type_chart!='table'">
        <div class="">
            <select name="" class="form-control" id="" v-model="filter.type_chart">
                <option :value="v" :key="v" v-for="v in chart_varian">{{v}}</option>  
            </select>
        </div>
        <charts :options="chart" ></charts>
    </template>
</div>

</template>    

<script>
export default{
    props:{
        url_schema:{
            type:String,
            default:''
        },
       
        type_chart:{
            type:String,
            default:'pie'
        }, 
       
        schemaMethod:String, 
        context:String,
        def_tahun:Number,


    },
    data:function(){
        return {
            chart_varian:[],
            tahun:this.def_tahun||2019,
            chart:{
                title:{
                    text:''
                },
                chart:{
                    type:'column'
                },
                series:[]
            },
            table:{
                column:[],
                data:[]
            },
            filter:{
                filter_regional:null,
                filter_status:null,
                filter_tipe_bantuan:null,
                type_chart:this.type_chart||null,
                method:this.schemaMethod||null
            }
        }
    },
    watch:{
        "filter":{
            deep:true,
            handler:function(val,old){
                console.log('chage',val,old);
                this.loadData();
            }
        }
    },
    mounted:function(){
        console.log(this.filter);
        this.loadData();
    },
    methods:{
        loadData:function(){
            var self=this;
                    Object.assign(self.chart,{
                        chart:{
                            type:'column'
                        },
                        series:[],
                        
                    });

            req_ajax.post(this.url_schema.replace('@TAHUN',this.tahun).replace('@CONTEXT',this.context),this.filter).then(res=>{
                if(res.data.chart!=undefined){
                    Object.assign(self.chart,res.data.chart);
                    Object.assign(self.chart_varian,res.data.chart_varian);
                }else if(res.data.table!=undefined){
                    self.table=res.data.table;
                }
            }).finally(function(){
                self.$forceUpdate();
            });
        }
    }
}
</script>