<template>
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
viewBox="0 0 1414.000000 2000.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,2000.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="20 px">
<text x="85" y="85">Text in SVG</text>
<path fill="red" d="M6299 14951 c-89 -28 -117 -49 -124 -92 -9 -53 -9 -464 0 -527 9 -70
37 -85 144 -80 154 7 251 87 251 208 0 47 -5 64 -29 98 -17 22 -39 43 -51 47
-20 6 -20 8 14 41 54 53 70 90 71 166 0 57 -3 70 -25 93 -57 63 -147 79 -251
46z m109 -163 c27 -27 0 -92 -50 -119 -30 -16 -38 0 -31 60 5 41 11 55 27 61
30 12 40 12 54 -2z m8 -290 c5 -17 -1 -28 -26 -50 -43 -40 -66 -34 -63 17 3
43 15 55 55 55 19 0 29 -6 34 -22z"/>

<path fill="red" d="M3748 14931 c-101 -64 -159 -245 -137 -424 13 -100 34 -157 75 -206
47 -54 81 -71 146 -71 69 0 123 31 166 94 50 76 67 143 67 276 -1 236 -77 360
-222 360 -37 0 -60 -7 -95 -29z m125 -199 c39 -43 46 -198 12 -278 -16 -38
-29 -47 -54 -39 -51 16 -76 216 -37 298 21 42 52 49 79 19z"/>
<path fill="red" d="M7620 14928 c-30 -49 -40 -145 -43 -393 -2 -201 0 -234 15 -261 20
-37 42 -48 68 -34 29 16 41 45 54 133 8 61 16 83 31 93 20 13 24 9 70 -77 57
-106 105 -155 135 -139 24 13 35 50 26 88 -4 15 -29 73 -57 129 l-50 102 45
56 c62 76 79 110 71 146 -14 64 -63 47 -166 -58 l-74 -75 -5 133 c-5 106 -10
140 -24 162 -26 39 -70 37 -96 -5z"/>
<path d="M6677 14932 c-10 -10 -17 -26 -17 -36 0 -19 44 -39 70 -31 30 9 52
42 45 64 -9 28 -74 29 -98 3z"/>
<path d="M6942 14942 c-12 -2 -30 -15 -39 -29 -16 -25 -16 -26 6 -44 28 -23
50 -24 79 -3 46 32 14 86 -46 76z"/>
<path d="M5595 14801 c-49 -23 -76 -51 -108 -116 -36 -72 -50 -130 -50 -210 0
-87 26 -151 78 -191 32 -24 48 -29 95 -29 34 0 64 6 74 14 23 19 26 13 16 -38
-9 -49 -35 -89 -73 -111 -22 -12 -32 -12 -69 -1 -86 26 -105 25 -123 -3 -24
-35 -7 -75 48 -113 36 -25 49 -28 123 -28 77 0 85 2 121 31 103 84 136 207
137 529 1 246 -16 296 -83 239 l-30 -25 -16 25 c-15 22 -61 46 -89 46 -6 0
-29 -9 -51 -19z m89 -167 c41 -40 52 -123 25 -178 -20 -41 -61 -70 -89 -61
-45 14 -64 113 -35 182 29 70 66 91 99 57z"/>
<path d="M10264 14810 c-90 -28 -174 -186 -174 -330 0 -83 17 -130 64 -177 51
-50 110 -64 170 -39 l38 16 -7 -43 c-10 -59 -30 -94 -65 -112 -36 -19 -67 -19
-100 0 -31 18 -82 19 -98 3 -19 -19 -14 -63 10 -93 31 -40 93 -65 164 -65 114
0 183 69 225 226 17 65 22 118 26 304 4 204 3 228 -14 259 -23 44 -34 47 -69
18 l-27 -24 -26 29 c-29 31 -71 41 -117 28z m89 -192 c44 -59 28 -177 -29
-215 -95 -62 -137 143 -48 232 22 22 53 15 77 -17z"/>
<path d="M4665 14801 c-64 -16 -145 -79 -145 -114 0 -7 -8 2 -16 20 -26 53
-113 80 -167 52 -12 -6 -34 -23 -49 -37 -21 -19 -28 -22 -28 -10 0 30 -40 68
-71 68 -22 0 -34 -8 -49 -32 -17 -29 -20 -51 -20 -178 1 -235 23 -325 80 -325
46 0 63 43 70 172 7 127 21 170 65 199 21 14 31 14 74 3 43 -11 53 -10 75 5
14 9 26 24 26 34 1 16 1 16 11 -1 21 -35 56 -39 109 -12 58 30 101 32 123 7
34 -37 22 -56 -48 -76 -193 -55 -251 -181 -135 -291 46 -44 117 -40 211 12 4
2 9 -5 12 -16 7 -29 52 -54 83 -47 45 12 57 61 51 216 -8 221 -50 312 -162
346 -52 15 -56 15 -100 5z m114 -363 c1 -19 -46 -48 -77 -48 -10 0 -23 5 -30
12 -18 18 4 47 51 68 39 18 42 18 49 2 4 -9 7 -25 7 -34z"/>
<path d="M5005 14780 c-12 -23 -15 -69 -14 -237 0 -232 7 -272 52 -287 62 -22
97 62 97 231 0 95 26 167 58 161 30 -6 37 -67 22 -192 -15 -130 -7 -190 26
-213 18 -12 24 -11 47 7 74 59 121 360 73 475 -32 77 -126 100 -202 49 l-38
-26 -25 31 c-35 42 -75 42 -96 1z"/>
<path d="M7245 14801 c-79 -19 -135 -70 -135 -121 0 -30 5 -39 25 -48 22 -10
33 -8 75 13 58 30 101 32 123 7 34 -37 22 -56 -48 -76 -193 -55 -251 -181
-135 -291 46 -44 117 -40 211 12 4 2 9 -5 12 -16 7 -29 52 -54 83 -47 45 12
57 61 51 216 -8 221 -50 312 -162 346 -52 15 -56 15 -100 5z m114 -363 c1 -19
-46 -48 -77 -48 -10 0 -23 5 -30 12 -18 18 4 47 51 68 39 18 42 18 49 2 4 -9
7 -25 7 -34z"/>
<path d="M9290 14791 c-97 -34 -143 -119 -85 -157 24 -15 27 -15 75 10 27 14
65 26 85 26 29 0 37 -5 51 -31 8 -17 12 -35 7 -39 -4 -4 -35 -15 -68 -25 -112
-31 -195 -103 -195 -169 0 -39 23 -87 59 -121 28 -26 40 -30 85 -30 35 1 65 8
90 23 44 26 46 26 46 8 0 -21 48 -56 76 -56 32 0 57 41 64 104 8 74 -6 253
-25 314 -39 126 -146 184 -265 143z m140 -341 c0 -23 -7 -33 -31 -46 -42 -21
-81 -11 -77 19 2 14 18 30 47 44 51 26 61 23 61 -17z"/>
<path d="M9663 14783 c-16 -24 -18 -52 -18 -228 0 -110 4 -217 8 -238 9 -43
45 -72 77 -62 39 12 54 61 59 195 5 100 10 132 26 159 26 45 40 48 61 16 16
-24 16 -36 6 -114 -14 -106 -15 -211 -3 -244 13 -33 47 -41 73 -15 48 48 88
202 88 335 0 104 -13 145 -57 183 -33 29 -41 32 -89 28 -37 -3 -63 -12 -88
-32 -24 -18 -36 -22 -36 -13 0 20 -43 57 -68 57 -12 0 -29 -11 -39 -27z"/>
<path fill="red" d="M6680 14778 c-30 -32 -40 -79 -47 -208 -6 -125 8 -250 33 -288 26
-40 64 -26 94 33 23 47 24 59 25 225 0 184 -8 230 -46 250 -26 14 -36 12 -59
-12z"/>
<path d="M6893 14763 c-16 -24 -18 -54 -18 -258 0 -219 -1 -232 -22 -272 -21
-39 -78 -93 -99 -93 -5 0 -26 -12 -47 -26 -34 -23 -38 -29 -35 -62 4 -51 39
-71 97 -54 58 18 161 91 195 139 47 67 66 171 66 363 0 91 -5 183 -11 205 -22
82 -90 113 -126 58z"/>
<path d="M8755 14746 c-57 -97 -69 -275 -24 -375 39 -88 92 -124 181 -124 79
1 135 34 172 102 69 128 39 395 -48 426 -25 8 -31 6 -53 -19 -24 -28 -24 -32
-16 -110 15 -153 7 -216 -32 -242 -23 -15 -27 -15 -50 0 -33 22 -41 72 -27
186 7 52 12 108 12 123 0 42 -27 77 -61 77 -23 0 -33 -8 -54 -44z"/>
<path d="M8936 13858 c-8 -18 -17 -81 -21 -141 l-7 -107 -34 30 c-27 24 -44
30 -79 30 -95 0 -148 -95 -149 -265 -1 -87 2 -107 25 -155 14 -30 40 -70 56
-87 26 -28 38 -33 77 -33 38 0 52 6 84 35 l39 35 13 -24 c11 -22 36 -36 67
-36 7 0 20 11 29 26 15 22 17 66 20 347 2 306 1 323 -18 349 -15 21 -28 28
-54 28 -30 0 -37 -5 -48 -32z m-86 -361 c40 -32 60 -70 60 -117 0 -42 -4 -52
-31 -74 -64 -54 -102 -18 -103 99 -1 75 12 105 43 105 9 0 23 -6 31 -13z"/>
<path d="M4772 13854 c-83 -42 -155 -145 -156 -225 -1 -41 6 -57 62 -138 34
-51 62 -99 62 -108 0 -25 -21 -56 -81 -120 -68 -70 -76 -104 -34 -143 19 -18
31 -22 60 -17 105 17 240 201 221 302 -4 19 -32 67 -62 107 -30 40 -57 82 -60
94 -9 35 23 82 82 121 64 42 76 72 47 111 -25 33 -91 41 -141 16z"/>
<path d="M7086 13838 c-41 -65 -66 -234 -67 -464 -1 -171 13 -237 52 -249 55
-18 88 47 99 194 8 109 15 125 62 136 47 12 62 -28 68 -173 5 -121 6 -124 34
-148 25 -22 30 -24 50 -11 36 24 46 59 52 193 10 205 -17 296 -92 310 -39 7
-110 -10 -135 -32 -15 -14 -17 -5 -21 94 -4 92 -8 114 -27 140 -26 38 -55 41
-75 10z"/>
<path d="M7863 13831 c-74 -27 -111 -51 -118 -78 -10 -40 -6 -536 4 -572 19
-62 56 -85 100 -61 26 14 42 58 55 156 l11 85 52 18 c76 26 136 80 174 156 29
59 31 71 26 131 -5 72 -33 118 -97 162 -42 28 -132 29 -207 3z m138 -188 c14
-37 -5 -72 -51 -95 -19 -10 -35 -16 -36 -15 -1 1 -5 28 -8 60 -7 54 -6 58 16
66 44 18 68 13 79 -16z"/>
<path d="M5635 13686 c-16 -7 -39 -23 -49 -35 -24 -26 -32 -27 -39 -1 -3 11
-17 25 -31 31 -22 10 -29 9 -46 -6 -36 -33 -45 -82 -45 -255 1 -180 11 -237
50 -276 30 -30 40 -30 72 2 25 25 25 26 18 135 -8 115 3 187 32 210 27 23 36
-8 44 -158 8 -161 16 -196 50 -214 20 -10 25 -9 41 11 25 30 36 77 47 202 11
113 31 178 54 178 22 0 27 -32 27 -182 0 -148 7 -183 40 -193 30 -10 57 18 75
78 18 59 20 306 4 376 -26 115 -88 132 -176 48 -18 -17 -33 -26 -33 -19 0 6
-14 27 -31 47 -33 38 -56 42 -104 21z"/>
<path d="M5070 13671 c-97 -34 -143 -119 -85 -157 24 -15 27 -15 75 10 27 14
65 26 85 26 29 0 37 -5 51 -31 8 -17 12 -35 7 -39 -4 -4 -35 -15 -68 -25 -112
-31 -195 -103 -195 -169 0 -39 23 -87 59 -121 28 -26 40 -30 85 -30 35 1 65 8
90 23 44 26 46 26 46 8 0 -21 48 -56 76 -56 32 0 57 41 64 104 8 74 -6 253
-25 314 -39 126 -146 184 -265 143z m140 -341 c0 -22 -7 -33 -27 -43 -16 -7
-35 -13 -43 -12 -8 1 -21 3 -28 3 -30 4 -7 47 37 69 51 26 61 23 61 -17z"/>
<path d="M6675 13679 c-23 -5 -58 -23 -79 -41 -62 -51 -71 -109 -19 -129 20
-7 34 -4 70 16 58 32 106 33 127 3 27 -38 20 -56 -23 -63 -61 -10 -153 -58
-189 -99 -26 -30 -32 -45 -32 -83 0 -90 73 -161 154 -149 23 4 59 16 80 26
l36 20 9 -23 c11 -28 61 -52 89 -43 11 4 26 21 33 39 19 43 18 252 0 336 -32
144 -133 219 -256 190z m117 -345 c5 -39 1 -43 -49 -55 -63 -14 -82 10 -40 49
19 18 60 39 78 41 4 1 9 -15 11 -35z"/>
<path d="M8300 13671 c-34 -12 -67 -33 -87 -55 -45 -49 -43 -80 5 -105 20 -11
30 -9 72 13 28 14 65 26 85 26 29 0 37 -5 51 -31 8 -17 12 -35 7 -39 -4 -4
-35 -15 -68 -25 -112 -31 -195 -105 -195 -174 0 -35 25 -84 59 -116 28 -26 40
-30 85 -30 35 1 65 8 90 23 44 26 46 26 46 8 0 -21 48 -56 76 -56 32 0 57 41
64 104 8 74 -6 253 -25 314 -39 126 -146 184 -265 143z m140 -341 c0 -22 -7
-33 -27 -43 -16 -7 -35 -13 -43 -12 -8 1 -21 3 -28 3 -30 4 -7 47 37 69 51 26
61 23 61 -17z"/>
<path d="M9230 13671 c-97 -34 -143 -119 -85 -157 24 -15 27 -15 75 10 27 14
65 26 85 26 29 0 37 -5 51 -31 8 -17 12 -35 7 -39 -4 -4 -35 -15 -68 -25 -112
-31 -195 -105 -195 -174 0 -35 25 -84 59 -116 28 -26 40 -30 85 -30 35 1 65 8
90 23 44 26 46 26 46 8 0 -21 48 -56 76 -56 32 0 57 41 64 104 8 74 -6 253
-25 314 -39 126 -146 184 -265 143z m140 -341 c0 -22 -7 -33 -27 -43 -16 -7
-35 -13 -43 -12 -8 1 -21 3 -28 3 -30 4 -7 47 37 69 51 26 61 23 61 -17z"/>
<path d="M6095 13646 c-26 -40 -35 -131 -35 -366 0 -317 17 -410 74 -410 51 0
76 67 76 204 0 80 2 87 18 80 38 -17 116 -16 149 1 115 62 152 330 63 455 -46
64 -133 73 -208 23 l-36 -25 -25 31 c-31 37 -55 39 -76 7z m246 -168 c22 -37
19 -99 -7 -150 -18 -35 -67 -38 -101 -6 -19 18 -23 32 -23 84 0 56 3 64 28 83
42 31 78 27 103 -11z"/>
<path d="M5230 12714 c-156 -26 -215 -46 -257 -86 -50 -47 -14 -97 77 -106 39
-3 49 -9 54 -26 3 -11 6 -111 6 -221 1 -220 9 -260 52 -285 34 -19 56 -8 80
41 15 29 18 63 18 225 0 105 3 211 6 236 6 43 8 46 59 67 97 40 131 95 84 137
-20 18 -118 28 -179 18z"/>
<path d="M7527 12708 c-21 -17 -43 -71 -51 -129 -6 -43 -10 -47 -39 -53 -48
-9 -97 -42 -97 -66 0 -21 52 -60 82 -60 14 0 17 -19 20 -164 3 -179 7 -192 70
-239 36 -27 153 -29 192 -4 41 27 53 60 32 92 -14 21 -24 25 -65 25 -67 0 -81
18 -81 107 0 38 3 97 6 130 7 61 7 61 43 67 45 7 101 41 101 61 0 26 -37 53
-82 60 l-44 7 4 61 c4 55 1 65 -22 90 -28 30 -44 33 -69 15z"/>
<path d="M5543 12571 c-99 -25 -168 -146 -168 -296 0 -117 48 -209 129 -252
84 -44 225 18 266 116 10 26 10 35 -4 56 -21 32 -38 32 -103 -5 -61 -34 -93
-38 -116 -12 -23 26 -22 27 25 41 95 29 178 123 178 203 0 98 -106 174 -207
149z m74 -148 c12 -17 11 -23 -4 -42 -10 -12 -31 -24 -47 -27 -16 -3 -33 -7
-38 -10 -12 -8 -10 13 6 50 14 33 42 58 60 53 5 -2 15 -12 23 -24z"/>
<path d="M6035 12558 c-11 -6 -33 -22 -49 -35 l-30 -25 -13 25 c-14 28 -41 41
-66 31 -35 -13 -50 -74 -55 -220 -6 -180 9 -277 48 -316 34 -33 40 -34 71 -9
23 19 24 23 21 145 -4 129 6 183 34 207 30 25 39 -6 45 -164 4 -90 11 -163 19
-179 12 -26 45 -42 63 -31 21 13 40 86 53 205 14 134 28 181 56 186 23 4 33
-65 24 -172 -11 -132 15 -213 64 -204 8 2 26 26 40 53 22 45 25 65 28 191 5
162 -8 240 -45 284 -37 45 -75 38 -140 -22 -30 -29 -31 -29 -38 -9 -9 28 -62
71 -88 71 -12 0 -31 -6 -42 -12z"/>
<path d="M7076 12549 c-110 -26 -174 -124 -110 -166 26 -17 28 -16 75 10 61
34 112 36 133 5 27 -38 20 -56 -23 -63 -101 -17 -211 -97 -226 -164 -10 -46
24 -114 74 -147 34 -22 48 -26 82 -20 22 4 58 16 80 26 22 12 39 16 39 10 0
-19 52 -60 75 -60 32 0 53 28 66 90 22 102 -8 325 -52 397 -39 63 -135 100
-213 82z m114 -328 c0 -11 2 -26 5 -33 8 -19 -65 -52 -94 -43 -40 12 -17 54
44 81 40 18 45 17 45 -5z"/>
<path d="M7783 12528 c-15 -29 -16 -60 -14 -237 3 -228 11 -270 54 -285 62
-22 97 62 97 231 0 95 26 167 58 161 30 -6 37 -67 22 -192 -15 -130 -7 -190
26 -213 18 -12 24 -11 47 7 74 59 121 360 73 475 -32 77 -126 100 -202 49
l-38 -26 -25 31 c-36 43 -74 42 -98 -1z"/>
<path d="M8855 12551 c-79 -19 -135 -70 -135 -121 0 -30 5 -39 25 -48 22 -10
33 -8 75 13 58 30 101 32 123 7 34 -37 22 -56 -48 -76 -36 -10 -85 -31 -110
-47 -44 -28 -95 -94 -95 -124 0 -26 36 -88 70 -120 46 -44 117 -40 211 12 4 2
9 -5 12 -16 7 -29 52 -54 83 -47 45 12 57 61 51 216 -8 221 -50 312 -162 346
-52 15 -56 15 -100 5z m114 -363 c1 -19 -46 -48 -77 -48 -10 0 -23 5 -30 12
-18 18 4 47 51 68 39 18 42 18 49 2 4 -9 7 -25 7 -34z"/>
<path d="M6497 12523 c-33 -38 -39 -102 -38 -381 2 -285 9 -358 41 -387 45
-41 100 18 100 107 0 23 3 73 6 110 7 66 7 67 28 53 27 -19 99 -19 136 0 68
35 112 135 113 260 1 103 -15 158 -62 208 -35 37 -43 41 -88 41 -35 0 -65 -8
-101 -27 -29 -15 -52 -23 -52 -19 0 14 -40 52 -54 52 -7 0 -20 -8 -29 -17z
m239 -168 c21 -32 15 -121 -9 -159 -21 -31 -61 -34 -95 -8 -17 14 -24 31 -29
74 -5 54 -4 59 25 87 39 40 84 42 108 6z"/>
<path d="M8251 12514 c-31 -39 -44 -98 -44 -199 0 -113 25 -187 83 -239 61
-55 138 -44 194 25 l27 34 -5 -78 c-6 -90 -32 -158 -71 -183 -25 -16 -30 -16
-78 -1 -46 15 -54 15 -74 2 -74 -49 58 -160 166 -140 113 21 177 130 201 344
21 180 -4 367 -56 422 -33 34 -54 37 -80 8 -15 -16 -20 -42 -24 -127 -3 -59
-11 -117 -18 -129 -17 -30 -56 -39 -86 -20 -21 14 -24 24 -28 126 -4 83 -10
118 -25 143 -25 43 -54 47 -82 12z"/>
<path d="M9470 8720 c0 -6 29 -10 68 -10 92 0 197 -34 235 -77 16 -18 36 -33
45 -33 16 0 -29 46 -74 76 -45 31 -274 67 -274 44z"/>
<path d="M9865 8592 c-11 -2 -34 -8 -51 -13 l-31 -10 -6 -102 c-7 -116 -2
-147 23 -147 22 0 32 13 54 73 11 28 31 57 50 72 39 29 40 30 60 9 25 -25 19
-94 -14 -178 -26 -65 -29 -82 -21 -112 17 -63 59 -92 89 -62 7 7 12 23 12 35
0 14 18 43 44 71 53 56 66 87 66 149 0 43 -4 50 -55 99 -30 29 -57 64 -61 79
-4 15 -15 27 -28 29 -36 8 -110 12 -131 8z"/>
<path d="M9513 8553 c15 -2 37 -2 50 0 12 2 0 4 -28 4 -27 0 -38 -2 -22 -4z"/>
<path d="M9393 8543 c15 -2 39 -2 55 0 15 2 2 4 -28 4 -30 0 -43 -2 -27 -4z"/>
<path d="M6540 8468 c-25 -5 -110 -10 -190 -11 -130 -2 -150 -4 -192 -25 -59
-29 -118 -96 -160 -180 l-31 -63 6 -145 c6 -142 5 -147 -19 -192 -28 -52 -27
-101 2 -133 16 -18 15 -21 -10 -54 -34 -44 -44 -96 -22 -114 11 -9 14 -24 10
-54 -7 -58 21 -102 76 -117 22 -6 45 -8 51 -4 7 4 8 -9 4 -40 -7 -42 -5 -48
23 -76 21 -20 40 -30 61 -30 35 0 35 -1 21 -50 -6 -19 -17 -93 -25 -165 -8
-71 -22 -175 -30 -230 -8 -55 -19 -156 -26 -225 -11 -112 -16 -133 -49 -200
-21 -41 -72 -163 -114 -270 -42 -107 -85 -217 -96 -244 -11 -27 -19 -51 -17
-52 14 -12 133 -54 156 -54 26 0 35 9 78 81 26 45 76 123 111 175 62 93 117
202 142 279 7 22 16 45 20 50 9 12 53 194 75 310 9 51 15 138 15 241 0 157 -3
181 -34 329 -9 39 -11 74 -7 78 5 5 24 11 43 14 31 4 38 0 74 -43 48 -59 86
-97 151 -152 l51 -42 33 57 c67 119 82 150 110 235 25 77 29 102 29 206 0 119
6 142 39 142 20 0 101 89 101 112 0 33 -26 71 -87 129 l-60 56 8 54 c14 100
10 175 -12 236 -24 64 -92 143 -142 166 -43 20 -113 26 -167 15z m-116 -651
c-17 -58 -75 -83 -127 -56 -44 23 -48 49 -9 49 15 1 50 9 77 19 57 21 69 18
59 -12z"/>
<path d="M9448 8470 c-10 -6 -18 -19 -18 -28 0 -14 11 -17 75 -17 41 0 75 3
75 6 0 30 -100 59 -132 39z"/>
<path d="M9307 8436 c-7 -19 0 -25 24 -19 10 3 19 12 19 19 0 18 -36 18 -43 0z"/>
<path d="M9466 8375 c-9 -9 -16 -25 -16 -35 0 -24 28 -52 49 -48 23 5 23 91 0
96 -9 2 -24 -4 -33 -13z"/>
<path d="M9329 8363 c-3 -20 4 -59 12 -67 12 -13 22 19 15 49 -6 23 -25 35
-27 18z"/>
<path d="M9381 8324 c0 -11 3 -14 6 -6 3 7 2 16 -1 19 -3 4 -6 -2 -5 -13z"/>
<path d="M4814 8281 c-23 -14 -39 -39 -63 -97 -33 -82 -52 -184 -34 -184 6 0
14 -21 18 -46 8 -57 22 -54 56 15 39 82 87 100 146 56 18 -15 69 -35 115 -47
72 -18 91 -19 144 -9 34 6 66 11 72 11 7 0 9 -25 5 -75 -4 -54 -3 -75 6 -75
16 0 32 44 41 116 6 44 15 68 34 89 37 40 34 87 -4 53 -8 -7 1 4 19 25 31 38
36 65 11 59 -8 -2 -10 7 -5 29 7 29 6 31 -16 24 -52 -17 -152 -4 -276 36 -142
45 -219 51 -269 20z"/>
<path d="M9371 8284 c0 -11 3 -14 6 -6 3 7 2 16 -1 19 -3 4 -6 -2 -5 -13z"/>
<path d="M9359 8198 c9 -12 26 -17 50 -16 l36 1 -35 4 c-19 3 -42 10 -50 16
-13 10 -13 10 -1 -5z"/>
<path d="M9827 8110 c-4 -30 -9 -63 -10 -72 -1 -9 -5 -14 -9 -12 -5 3 -6 -5
-4 -18 3 -13 5 -27 6 -33 0 -5 8 9 16 33 9 25 14 67 12 100 l-3 57 -8 -55z"/>
<path d="M9767 7982 c-22 -24 -6 -52 17 -33 17 15 21 37 7 45 -4 3 -15 -2 -24
-12z"/>
<path d="M4878 7966 c-10 -7 -18 -16 -18 -20 0 -10 148 -7 154 3 8 12 -48 31
-88 31 -17 0 -39 -7 -48 -14z"/>
<path d="M3943 7943 c-11 -23 -7 -32 48 -114 59 -88 60 -90 41 -107 -11 -9
-32 -53 -47 -97 -35 -100 -113 -255 -129 -255 -7 0 -17 5 -23 11 -16 16 -33
-21 -40 -87 -9 -88 31 -112 84 -50 36 40 169 310 185 375 17 64 21 67 51 24
122 -179 330 -482 372 -543 96 -139 538 -784 604 -882 37 -54 69 -97 74 -98 4
0 7 10 7 23 0 12 7 32 15 44 14 20 5 35 -166 280 -100 142 -200 285 -224 318
-425 607 -816 1160 -831 1175 -5 5 -14 -2 -21 -17z"/>
<path d="M9720 7935 c-7 -8 -39 -24 -71 -36 -33 -12 -59 -24 -59 -26 0 -14
137 46 144 63 7 18 2 18 -14 -1z"/>
<path d="M5105 7930 c-3 -6 0 -12 7 -14 7 -1 29 -9 48 -15 62 -23 80 -24 80
-9 0 31 -119 64 -135 38z"/>
<path d="M4896 7887 c9 -24 68 -41 94 -27 29 15 25 30 -9 30 -16 0 -43 3 -60
6 -26 5 -30 4 -25 -9z"/>
<path d="M5090 7856 c0 -23 61 -50 95 -42 35 9 27 29 -16 38 -19 3 -44 9 -56
13 -18 6 -23 3 -23 -9z"/>
<path d="M9558 7863 c7 -3 16 -2 19 1 4 3 -2 6 -13 5 -11 0 -14 -3 -6 -6z"/>
<path d="M9508 7853 c6 -2 18 -2 25 0 6 3 1 5 -13 5 -14 0 -19 -2 -12 -5z"/>
<path d="M7028 7649 c-89 -95 -128 -290 -95 -481 14 -80 29 -270 54 -665 7
-105 3 -119 -67 -238 -75 -127 -188 -345 -195 -375 -5 -24 -1 -29 57 -60 35
-18 80 -38 100 -46 36 -12 38 -12 60 15 72 86 231 337 292 461 l42 85 3 149
c1 85 10 204 21 275 11 69 20 148 20 174 0 41 4 52 29 73 57 47 119 168 112
217 -1 9 -32 79 -67 155 -68 143 -104 190 -207 273 -69 55 -98 53 -159 -12z"/>
<path d="M4635 7540 c-8 -37 16 -124 47 -170 46 -67 182 -110 284 -90 55 12
134 57 134 77 0 22 -18 23 -70 3 -91 -36 -221 -21 -278 33 -29 27 -56 78 -71
135 -14 49 -36 55 -46 12z"/>
<path d="M4201 7178 c-22 -69 -56 -271 -91 -553 -6 -49 -18 -126 -25 -170 -26
-145 -37 -325 -30 -465 4 -74 11 -144 15 -155 4 -10 10 77 13 195 4 118 13
260 21 315 8 55 24 165 35 245 33 225 53 361 61 410 25 150 30 194 21 203 -5
5 -13 -4 -20 -25z"/>
<path d="M5221 6778 c-4 -13 -14 -54 -22 -93 l-14 -70 -3 63 c-2 34 -7 62 -12
62 -14 0 -12 -160 1 -278 13 -103 29 -145 29 -74 l0 42 51 0 c113 0 349 77
349 114 0 27 -30 24 -143 -14 -63 -22 -144 -42 -181 -46 l-66 -7 0 44 c0 42
21 185 35 240 8 34 -12 49 -24 17z"/>
<path d="M10730 6690 c-8 -5 -12 -12 -9 -15 4 -3 12 1 19 10 14 17 11 19 -10
5z"/>
<path d="M10668 6652 c-21 -15 -38 -32 -38 -39 0 -6 -9 -14 -19 -18 -14 -4
-18 -11 -14 -23 6 -15 4 -15 -9 -4 -14 11 -16 10 -11 -7 7 -28 17 -26 38 7 9
15 36 44 58 64 50 44 47 57 -5 20z"/>
<path d="M11235 6515 l-160 -94 -155 1 c-85 0 -211 -5 -280 -12 -91 -9 -125
-9 -128 -1 -10 29 -180 7 -417 -54 -71 -18 -176 -40 -233 -49 -57 -9 -170 -30
-250 -47 -81 -16 -194 -38 -250 -49 -205 -38 -405 -171 -585 -388 -36 -44 -32
-87 17 -205 70 -170 129 -278 214 -390 50 -66 49 -49 18 -252 -9 -55 -16 -127
-16 -160 0 -77 -27 -175 -90 -325 -52 -122 -98 -295 -87 -324 4 -9 14 -16 24
-16 10 0 44 -11 76 -24 l57 -24 13 46 c17 56 33 62 144 56 78 -4 149 -30 231
-84 39 -27 42 -20 5 15 -35 31 -27 32 15 2 17 -13 28 -28 24 -32 -4 -5 -1 -5
6 -1 7 4 24 0 38 -8 21 -15 23 -21 18 -56 -7 -45 0 -49 51 -24 35 16 60 66
105 207 12 37 26 67 31 67 5 0 9 -4 9 -9 0 -8 127 -202 240 -366 212 -306 349
-436 585 -550 116 -56 205 -85 280 -92 56 -4 74 0 260 70 l200 74 47 58 c58
71 119 187 147 278 20 67 20 68 1 160 -10 50 -40 151 -65 222 -91 255 -144
418 -139 427 3 5 7 59 8 121 2 62 9 210 16 330 9 165 9 253 1 365 -23 307 -42
828 -31 856 5 15 10 40 10 56 0 21 15 45 57 90 31 34 67 66 79 71 16 5 27 22
34 51 7 24 16 53 21 66 11 28 4 42 -19 42 -9 0 -89 -43 -177 -95z m-1930
-2322 l30 -25 -40 23 c-51 29 -51 29 -34 29 8 -1 28 -12 44 -27z"/>
<path d="M10536 6582 c-2 -4 -1 -14 4 -22 7 -11 9 -9 7 8 -1 24 -3 26 -11 14z"/>
<path d="M8654 6546 c12 -10 29 -13 45 -10 18 4 22 3 13 -4 -11 -7 -10 -10 3
-16 23 -8 22 -9 28 14 4 14 0 20 -11 20 -10 0 -35 3 -57 6 -37 5 -39 4 -21
-10z"/>
<path d="M4336 6381 c-10 -16 13 -62 79 -161 93 -140 154 -203 231 -241 73
-36 96 -33 36 4 -83 53 -204 195 -297 346 -38 64 -40 66 -49 52z"/>
<path d="M4500 6269 c0 -14 85 -135 102 -145 12 -8 4 7 -58 109 -28 46 -44 59
-44 36z"/>
<path d="M5433 5795 l2 -70 117 -172 118 -172 -36 -93 c-28 -73 -35 -103 -32
-139 6 -59 51 -139 78 -139 25 0 25 8 -2 85 l-21 64 39 90 39 91 80 0 c44 0
86 -4 94 -9 8 -5 33 -40 56 -78 42 -69 76 -89 83 -49 4 19 -71 178 -92 195 -6
5 -54 14 -106 21 -52 7 -100 14 -107 16 -6 1 -43 49 -82 106 -60 86 -153 218
-216 303 -13 18 -14 14 -12 -50z"/>
<path d="M7360 5621 c-22 -41 -92 -354 -113 -504 l-22 -158 -45 2 c-86 5 -130
0 -130 -15 0 -8 -20 -34 -45 -58 -24 -24 -45 -46 -45 -50 0 -17 122 -261 163
-324 24 -38 86 -145 137 -237 l93 -168 -7 -55 c-3 -31 -31 -130 -61 -221 l-55
-166 31 -58 c28 -52 30 -61 20 -92 -13 -38 -47 -73 -106 -107 -22 -13 -63 -44
-90 -69 -28 -25 -66 -54 -85 -65 l-35 -18 50 -27 c45 -23 60 -26 150 -25 86 2
305 33 352 51 13 5 14 28 9 172 -4 91 -9 204 -12 251 -4 58 -3 82 4 75 6 -5
29 -72 52 -148 22 -76 49 -160 60 -187 19 -49 19 -50 -1 -115 -11 -35 -33 -95
-50 -132 -23 -51 -28 -72 -20 -88 5 -11 17 -60 26 -110 25 -139 19 -136 90
-42 35 47 79 109 99 139 l35 55 6 169 c3 92 8 177 10 188 7 31 35 469 35 556
1 110 -29 314 -57 400 -44 132 -46 144 -39 192 7 46 8 47 33 37 46 -17 96 32
115 113 13 59 4 88 -28 88 -14 0 -38 8 -52 19 -41 28 -140 76 -211 101 -55 19
-78 22 -150 17 -47 -3 -113 -13 -145 -21 -32 -9 -61 -14 -65 -11 -3 4 3 27 12
53 10 26 40 113 66 194 27 81 72 199 101 263 29 63 50 118 47 122 -19 18 -85
-94 -138 -237 -15 -41 -28 -70 -29 -64 0 6 16 78 35 160 19 82 35 155 35 162
0 19 -18 14 -30 -7z"/>
<path d="M10123 3355 c-8 -23 21 -91 78 -181 28 -43 61 -100 75 -126 20 -39
35 -53 84 -78 66 -33 81 -35 163 -19 58 12 97 38 97 65 0 13 -6 15 -27 9 -76
-18 -67 -28 -87 102 -22 143 -30 165 -52 156 -17 -6 -17 -25 2 -166 l7 -48
-50 33 c-95 63 -211 171 -238 220 -27 50 -41 59 -52 33z m269 -304 c67 -44 82
-70 30 -50 -37 14 -89 55 -103 81 -14 25 -9 23 73 -31z"/>
<path d="M6877 3234 c-64 -43 -48 -56 64 -52 68 3 72 4 46 15 -15 7 -38 24
-51 37 l-23 25 -36 -25z"/>
<path d="M7492 2952 c-23 -75 -19 -130 14 -175 26 -36 81 -61 128 -59 47 1 90
39 129 110 24 44 55 167 45 177 -2 3 -26 -25 -53 -62 -53 -72 -145 -173 -157
-173 -15 0 -39 63 -58 152 -11 50 -21 93 -23 94 -2 2 -13 -27 -25 -64z"/>
<path d="M9184 2888 c-9 -18 -27 -46 -39 -63 -12 -16 -25 -46 -28 -65 l-6 -35
18 35 c11 19 28 44 40 54 13 12 21 31 21 50 0 24 3 27 10 16 8 -12 10 -9 10
13 0 35 -6 34 -26 -5z m-9 -58 c-3 -5 -11 -10 -16 -10 -6 0 -7 5 -4 10 3 6 11
10 16 10 6 0 7 -4 4 -10z"/>
<path d="M8875 2790 c-20 -32 138 -377 205 -449 41 -45 56 -46 64 -5 2 10 9
32 16 48 22 57 80 298 80 332 0 56 -32 38 -45 -26 -10 -49 -83 -302 -89 -307
-5 -6 -140 267 -161 327 -27 76 -54 106 -70 80z"/>
</g>
</svg>
</template>

<script>

export default {
    props:{
        data:String
    },
    data:function() {
        return {
            x:'s'
        } 
    },
}
</script>
