<template  >
<div>
    <button @click="sendWa()" class="btn btn-success"><i class="fa fa-whatsapp"></i> Kirim Whatsapp</button>
</div>
</template>  

<script>
const { v4: uuidv4 } = require('uuid');


export default{
    props:{
        mode:{
            default:'eval_self',
            type:String
        },
        domContent:{
            type:String,
            default:'#print_content'
        },
        urlTarget:{
              type:String,
            default:'#print_content'
        },
      
        nameFile:{
            type:String,
            default:uuidv4()+'.pdf'
        },
        userOp:{
            type:Object,
            default:function(){
                return {
                user:null,
                number:null
                }
            }
        }
    },
    mounted:function(){ 
        this.serverPath=('/public-api/'+2022+'/mod-dash-admin/request-to-wa-send-file');
        console.log(this.serverPath,this.userOp);  
    },
    data:function(){
        return {
            serverPath:null,
            domHtml:null,
        };
    },
    methods:{
        sendWa:function(){
            var self=this;
            if(this.mode=='eval_self'){
                this.domHtml=$(this.domContent).html()||'';
            }
            
            self.$isLoading(true);
            req_ajax.post(this.serverPath,{
                number:this.userOp.number,
                user:this.userOp.user,
                dom_selected:this.domContent,
                dom_html:this.domHtml,
                name_file:this.nameFile,
                method:'send-wa',
                url_dom:this.urlTarget

            }).then(res=>{
                if(res.data.code==200){
                    Swal.fire('Berhasil','Dokumen Dikirim ke '+res.data.target.replace('@c.us',''));
                }else{
                    Swal.fire('Gagal','Whatsapp Tidak Dapat Memproses Perintah');

                }
            }).finally(function(){
                self.$isLoading(false);
            });

        },
    }
}
</script>  