#bab-x{
    display: none!important;
}
section.pg_break{
    border-bottom:10px solid rgb(88, 88, 88);
    margin-bottom: 15px;
    max-width: 100%;
    page-break-after: always;
}
html{
background-color:#868686;
}
body{
    background-color: white;
    min-height: 100vh;
}

.pg_break {
    page-break-after: always;

}
@page{
       
        margin:0 0 25mm 0;
    }  

@media print {
    
    #bab-x{
        display: flex!important;
    }
    .pg_break{
        border:unset!important;
        margin-bottom: none!important;
        page-break-after: always;

    }
   
    .text-primary{
     color:#47b2ff;
    }
    *{

    font-family: sans-serif!important;
    }

    body{
        background: transparent;
    }
}