

<script>
    export default {
        data () {
            return {
                text: 'This is component A',
            }
        },
        template:`<template>
            <q-card flat bordered class="q-px-md q-py-sm row items-center justify-between">
                <div class="text-subtitle1">{{ title }}</div>
                <flowy-drag-handle>
                        <q-btn color="grey-7" size="sm" class="q-ml-md" round flat icon="drag_handle" />
                </flowy-drag-handle>
            </q-card>
        </template>`,
        props: ['remove', 'node', 'title', 'description'],
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>